<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课程图片列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input id="shopId" name="shopId" th:value="${shopId}" type="hidden">
                    <div class="select-list">
                        <ul>
                            <li>
<!--                                <p>商家Id：</p>-->
                                <input type="hidden" name="shopId"/>
                            </li>
                            <li>
<!--                                <p>课程Id：</p>-->
                                <input type="hidden" name="coursesId"/>
                            </li>
<!--                            <li>-->
<!--                                <p>排序键值：</p>-->
<!--                                <input type="text" name="sortKey"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>状态：</p>-->
<!--                                <input type="text" name="flag"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>创建者：</p>-->
<!--                                <input type="text" name="createBy"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>修改者：</p>-->
<!--                                <input type="text" name="updateBy"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
<!--                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add(shopId)" shiro:hasPermission="shop:images:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="shop:images:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="shop:images:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="shop:images:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('shop:images:edit')}]];
        var removeFlag = [[${@permission.hasPermi('shop:images:remove')}]];
        var prefix = "/shop/images";
        var shopId = $('#shopId').val();
        var listUrl = prefix + "/list";
        if($.common.isNotEmpty(shopId)){
            listUrl = listUrl + "?shop-id=" + shopId;
        }

        $(function() {
            var options = {
                url: listUrl,
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "课程图片",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '排序键值',
                    visible: false
                },
                {
                    field : 'shopId', 
                    title : '商家Id'
                },
                {
                    field : 'coursesId', 
                    title : '课程Id'
                },
                {
                    field : 'imageUrl', 
                    title : '课程图片地址',
                    formatter: function(value, row, index) {
                        return '<img src="/resource-file/'+value+'" class="banner-image"></img>';
                    }
                },
                {
                    field : 'sortKey', 
                    title : '排序键值'
                },
                {
                    field : 'flag', 
                    title : '状态'
                },
                {
                    field : 'createBy',
                    title : '创建者'
                },
                {
                    field : 'updateBy',
                    title : '修改者'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>