<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改订单信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-edit" th:object="${order}">
            <!--=== Content Part ===-->
            <input id="id" name="id" th:field="*{id}" type="hidden">
            <div class="container content">
                <!--Invoice Header-->
                <div class="row invoice-header">
                    <div class="col-xs-4">
                        <img class="img-circle" th:src="*{avatar}" alt="微信头像">
                        <!-- You also can use a title instead of image
                        <h2 class="pull-left">Product Invoice</h2>-->
                    </div>
                    <div class="col-xs-8 invoice-numb">
                        <label class="badge badge-info" th:text="*{orderNo}"></label>
                        <label>&nbsp;/&nbsp;</label>
                        <label th:text="${#dates.format(order.bookingTime, 'yyyy-MM-dd HH:mm:ss')}"></label>
                        <span th:text="*{subject}"></span>
                    </div>
                </div>
                <!--End Invoice Header-->

                <!--Invoice Detials-->
                <div class="row invoice-info">
                    <div class="col-xs-6">
                        <div class="tag-box tag-box-v3">
                            <h2>客户信息:</h2>
                            <ul class="list-unstyled">
                                <li><strong>姓名:</strong> <span th:text="*{realName}"></span></li>
                                <li><strong>微信名称:</strong> <span th:text="*{wxName}"></span></li>
                                <li><strong>注册时间:</strong> <span th:text="${#dates.format(order.regTime, 'yyyy-MM-dd')}"></span></li>
                                <li><strong>客户级别:</strong> <span th:text="*{accountLevel}"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="tag-box tag-box-v3">
                            <h2>支付信息:</h2>
                            <ul class="list-unstyled">
                                <li><strong>支付通道:</strong> <span th:text="*{paymentChannel}"></span></li>
                                <li><strong>流水号:</strong> <span th:text="*{serialNo}"></span></li>
                                <li><strong>支付时间:</strong> <span th:text="${#dates.format(order.payTime, 'yyyy-MM-dd')}"></span></li>
                                <li><strong>支付金额:</strong> <span th:text="*{payPrice}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End Invoice Detials-->

                <!--Invoice Table-->
                <div class="panel panel-default margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title">订单详情</h3>
                    </div>
                    <div class="panel-body">
                        <p></p>
                    </div>
                    <table id="bootstrap-table" class="table table-striped invoice-table"></table>
                </div>
                <!--End Invoice Table-->
                <!--Invoice Footer-->
                <div class="row">
                    <div class="col-xs-6">
                        <div class="tag-box tag-box-v3 no-margin-bottom">
                            <h2>优惠券信息:</h2>
                            <ul class="list-unstyled">
                                <li><strong>是否使用:</strong> <span th:text="*{haveDiscount}"></span></li>
                                <li><strong>券编码:</strong> <span th:text="*{couponNo}"></span></li>
                                <li><strong>发放时间:</strong> CANADA</li>
                                <li><strong>领用时间:</strong> YYYY/MM/DD</li>
                            </ul>
                            <!--<address class="no-margin-bottom">-->
                                <!--<br>-->
                                <!--California, US <br>-->
                                <!--Phone: 800 123 3456 <br>-->
                                <!--Fax: 800 123 3456 <br>-->
                                <!--Email: <a href="mailto:info@example.com">info@example.com</a>-->
                            <!--</address>-->
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <h2>付款信息:</h2>
                        <ul class="list-unstyled invoice-total-info">
                            <li><strong>合计金额:</strong> <span th:text="*{preRealPrice}"></span></li>
                            <li><strong>优惠券抵扣:</strong> <span th:text="*{faceValue}"></span></li>
                            <li><strong>实际支付:</strong> <span th:text="*{payPrice}"></span></li>
                            <!--<li>-->
                                <!--<div class="form-group" style="border:1px solid red;">-->
                                    <!--<label class="col-sm-3 control-label"><strong>实际支付:</strong></label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input name="payPrice" th:field="*{payPrice}" class="form-control" type="text">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">应付金额：</label>
                            <div class="col-sm-10">
                                <input name="preRealPrice" th:field="*{preRealPrice}" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">支付状态：</label>
                            <div class="col-sm-10">
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" value="option1" name="a"> <i></i> 已支付</label>
                                </div>
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" checked="" value="option2" name="a"> <i></i> 未支付</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">使用状态：</label>
                            <div class="col-sm-10">
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" value="option1" name="a"> <i></i> 已支付</label>
                                </div>
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" checked="" value="option2" name="a"> <i></i> 未支付</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单状态：</label>
                            <div class="col-sm-10">
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" value="option1" name="a"> <i></i> 已支付</label>
                                </div>
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" checked="" value="option2" name="a"> <i></i> 未支付</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">核验状态：</label>
                            <div class="col-sm-10">
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" value="option1" name="a"> <i></i> 已支付</label>
                                </div>
                                <div class="radio check-box">
                                    <label>
                                        <input type="radio" checked="" value="option2" name="a"> <i></i> 未支付</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row text-right" style="padding:15px;">
                    <button class="btn btn-default btn-xl"><i class="fa fa-circle-o-notch"></i> 取消</button>
                    <button class="btn btn-primary btn-xl"><i class="fa fa-save"></i> 确认修改</button>
                    <button class="btn btn-danger btn-xl"><i class="fa fa-close"></i> 订单作废</button>
                </div>
                <!--End Invoice Footer-->
            </div><!--/container-->
            <!--=== End Content Part ===-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/order";
        $("#form-order-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-order-edit').serialize());
            }
        }

        $("input[name='bookingTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });


        $(function() {
            var options = {
                url: "/order/detail/"+$('#id').value(),
                modalName: "订单详情",
                columns: [
                    {
                        field : 'id',
                        title : 'id',
                        visible: false
                    },
                    {
                        field : 'title',
                        title : '课程标题'
                    },
                    {
                        field : 'subTitle',
                        title : '副标题',
                        formatter: function(value, row, index) {
                            return $.table.tooltip(value,10);
                        }
                    },
                    {
                        field : 'price',
                        title : '单价',
                        align : 'right',
                        formatter: function(value, row, index) {
                            return $.table.numeric(value,2);
                        }
                    },
                    {
                        field : 'count',
                        title : '数量'
                    },
                    {
                        field : '小计',
                        title : '实收金额',
                        align : 'right',
                        formatter: function(value, row, index) {
                            return $.table.numeric(value,2);
                        }
                    },
                    {
                        field : '上课时间',
                        title : '支付流水',
                        formatter:function(value,row,index){
                            var apm = row.apm;
                            var beginTime = row.beginTime;
                            var endTime = row.endTime;
                            return '<span>'+apm + ' ' + beginTime + '~' + endTime+'</span>';
                        }
                    },
                    {
                        field : 'lessionTime',
                        title : '上课日期',
                        align: 'center'
                        // formatter: function(value, row, index) {
                        //     var lessionDate = ${#dates.format(value, 'yyyy-MM-dd')};
                        // }
                    },
                    {
                        title: '操作',
                        align: 'center',
                        formatter: function(value, row, index) {
                            var actions = [];
                            //actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>无货</a> ');
                            return actions.join('');
                        }
                    }]
            };
            $.table.init(options);
        });

    </script>
</body>
</html>