<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单编号：</p>
                                <input type="text" name="orderNo"/>
                            </li>
                            <li>
                                <p>商家名称：</p>
                                <input type="text" name="shop"/>
                            </li>
                            <li class="select-time">
                                <p>下单时间：</p>
                                <input type="text" class="time-input" id="bstartTime" placeholder="开始时间" name="params[beginBookingTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="bendTime" placeholder="结束时间" name="params[endBookingTime]"/>
                            </li>
                            <li class="select-time">
                                <p>支付时间：</p>
                                <input type="text" class="time-input" id="pstartTime" placeholder="开始时间" name="params[beginPayTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="pendTime" placeholder="结束时间" name="params[endPayTime]"/>
                            </li>
                            <li>
                                <p>支付状态：</p>
                                <select name="payStatus">
                                    <option value="">所有</option>
                                    <option value="1">已支付</option>
                                    <option value="0">未支付</option>
                                </select>
                            </li>
                            <li>
                                <p>使用状态：</p>
                                <select name="useStatus">
                                    <option value="">所有</option>
                                    <option value="0">未使用</option>
                                    <option value="1">已使用</option>
                                    <option value="2">已过期</option>
                                </select>
                            </li>
                            <li>
                                <p>订单状态：</p>
                                <select name="billStatus">
                                    <option value="">所有</option>
                                    <option value="">未开始</option>
                                    <option value="">已完结</option>
                                </select>
                            </li>
                            <li>
                                <p>核销状态：</p>
                                <select name="verifyStatus">
                                    <option value="">所有</option>
                                    <option value="">未核销</option>
                                    <option value="">部分核销</option>
                                    <option value="">已核销</option>
                                </select>
                            </li>
                            <li style="float:right; padding-right:40px;padding-top:10px;">
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:order:add">-->
                    <!--<i class="fa fa-plus"></i> 添加-->
                <!--</a>-->
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning multiple disabled" onclick="$.operate.view()" shiro:hasPermission="order:detail">
                    <i class="fa fa-eye-slash"></i> 查看
                </a>
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:order:export">-->
                    <!--<i class="fa fa-download"></i> 导出-->
                 <!--</a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('order:remove')}]];
        var viewFlag = [[${@permission.hasPermi('order:detail')}]];
        //var prefix = ctx + "system/order";
        var prefix = "/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                viewUrl: prefix + "/view",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'orderNo', 
                    title : '订单编号',
                    formatter: function(value, row, index) {
                        return '<span class="span-code" title="'+value+'">'+value+'</span>';
                    }
                },
                {
                    field : 'subject', 
                    title : '订单标题'
                },
                {
                    field : 'shopName',
                    title : '商家名称'
                },
                {
                    field : 'preRealPrice', 
                    title : '应收金额'
                    // formatter: function(value, row, index) {
                    //     var num = number_format(value,2);
                    //     return '<span class="span-numeric">'+num+'</span>';
                    // }
                },
                {
                    field : 'payPrice', 
                    title : '实收金额'
                    // formatter: function(value, row, index) {
                    //     var num = number_format(value,2);
                    //     return '<span class="span-numeric">'+num+'</span>';
                    // }
                },
                {
                    field : 'serialNo', 
                    title : '支付流水'
                },
                {
                    field : 'haveDiscount', 
                    title : '抵值券',
                    formatter: function(value, row, index) {
                        if(value==1){
                            return '<span class="label label-success">已使用</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">未使用</span>';
                        }
                        else{
                            return '<span class="label label-white">未定义</span>';
                        }
                    }
                },
                {
                    field : 'bookingTime', 
                    title : '下单时间'
                },
                {
                    field : 'payTime', 
                    title : '支付时间'
                },
                {
                    field : 'payStatus', 
                    title : '支付状态',
                    formatter: function(value, row, index) {
                        if(value==1){
                            return '<span class="label label-success">已支付</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">未支付</span>';
                        }
                        else{
                            return '<span class="label label-white">未定义</span>';
                        }
                    }
                },
                {
                    field : 'useStatus', 
                    title : '使用状态',
                    formatter: function(value, row, index) {
                        if(value==1){
                            return '<span class="label label-success">已使用</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">未使用</span>';
                        }
                        else{
                            return '<span class="label label-white">未定义</span>';
                        }
                    }
                },
                {
                    field : 'billStatus', 
                    title : '订单状态',
                    formatter: function(value, row, index) {
                        if(value==1){
                            return '<span class="label label-success">已完结</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">未完结</span>';
                        }
                        else{
                            return '<span class="label label-white">未定义</span>';
                        }
                    }
                },
                {
                    field : 'verifyStatus', 
                    title : '核销状态',
                    formatter: function(value, row, index) {
                        if(value==1){
                            return '<span class="label label-success">已核销</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">未核销</span>';
                        }
                        else{
                            return '<span class="label label-white">未定义</span>';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-eye-slash"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>