<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改首页滚动广告')" />
    <!--<th:block th:include="include :: jasny-bootstrap-css" />-->
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content ibox-content">
        <form id="form-banner-edit" class="form-horizontal m" enctype="multipart/form-data" th:object="${tBanner}">

            <input name="id" th:field="*{id}" type="hidden">

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>广告图片：</label>
                <div id="imgUploadPanel" class="col-sm-8">
                    <input id="imgUpload" type="file" />
                    <input id="imgUploadFileId" th:type="hidden" />
                </div>
                <input id="img" name="img" type="hidden" th:field="*{img}">
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>跳转类型：</label>
                <div class="col-sm-8">
                    <div class="input-group" style="width: 100%">
                        <select id="targetType" name="targetType" class="form-control m-b" th:with="type=${@dict.getType('thd_redirect_type')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{targetType}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="url1" class="form-group" th:style="*{targetType=='2'}?'display:none'">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>跳转地址：</label>
                <div class="col-sm-8">
                    <select class='form-control' id="urlId1" style="width: 100%" required>
                        <option value="">---请选择---</option>
                        <option th:each="column : ${courses}" th:text="${column.title}" th:value="${column.id}" th:field="*{url}"></option>
                    </select>
                </div>
            </div>

            <div id="url2" class="form-group" th:style="*{targetType=='1'}?'display:none'">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>跳转地址：</label>
                <div class="col-sm-8">
                    <input id="urlId2" placeholder="请输入跳转地址" class="form-control" type="text" required>
                </div>
            </div>

            <!--<input  th:if="${cityId != null}" name="cityId" th:value="*{cityId}" class="form-control" type="hidden" required>-->
            <div class="form-group" th:style="${cityId != null}?'display:none'">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>发布城市：</label>
                <div class="col-sm-8">
                    <select name="cityId" class="form-control m-b" th:with="type=${@dict.getType('operation_city')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{cityId}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>排序键值：</label>
                <div class="col-sm-8">
                    <input name="sortKey" placeholder="请输入排序键值" th:field="*{sortKey}" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">是否可用：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('available')}">
                        <input type="radio" th:id="${dict.dictCode}" name="available" th:value="${dict.dictValue}" th:checked="${dict.default}" th:field="*{available}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <!--<th:block th:include="include :: jasny-bootstrap-js" />-->
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = "/conf/banner";
        $("#form-banner-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if($.common.isEmpty($('#img').val())){
                $.modal.alertError("请先上传图片文件。");
                return;
            }

            if ($.validate.form()) {
                var data = $("#form-banner-edit").serializeArray();
                if ($("#targetType").val() == 1) {
                    data.push({"name": "url", "value": $("#urlId1").val()});
                } else {
                    data.push({"name": "url", "value": $("#urlId2").val()});
                }
                var cityName = $("#cityId").find("option:selected").text();
                data.push({"name": "cityName", "value": cityName});
                $.operate.save(prefix+"/edit",data);
                // $.operate.save(prefix + "/edit", $('#form-banner-edit').serialize());
            }
        }

        $(function(){
            $("#imgUpload").fileinput({
                // 'theme': 'explorer-fas',
                uploadUrl: '/file/upload',
                overwriteInitial: false,
                initialPreviewAsData: true,
                maxFileCount: 1,
                initialPreview: [
                    "/resource-file/" + $('#img').val()
                ]
            });
            $("#imgUpload").on("fileuploaded", function (event, data, previewId, index) {
                // var content = JSON.stringify(data);
                var code = data.response.code;
                var message = data.response.message;
                var list = data.response.data;
                if(code == 0){
                    //文件上传成功。
                    $.modal.alertSuccess(message);
                    var fileName = list[0];
                    $("#img").val(fileName);
                }
                else if(code == 500){
                    $.modal.alertError(message);
                }
                // console.log(content);
                console.log(code);
                console.log(message);
                console.log(list[0]);
            })

            $("#targetType").change(function() {
                var type = $(this).val();
                if (type == 1) {
                    $("#url2").hide();
                    $("#url1").show();
                } else {
                    $("#url1").hide();
                    $("#url2").show();
                }
            });

        });
    </script>
</body>
</html>