<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商家信息')" />
    <th:block th:include="include :: summernote-css" />
    <link href="/qcloud/css/cityLayout.css" type="text/css" rel="stylesheet">
    <th:block th:include="include :: jasny-bootstrap-css" />
    <link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.css" rel="stylesheet">
    <th:block th:include="include :: bootstrap-fileinput-css" />

    <th:block th:include="include :: datetimepicker-css" />

    <link href="http://localhost/ajax/libs/datapicker/bootstrap-timepicker.min.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-shop-add">
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家名称：</label>
                    <div class="col-sm-8">
                        <input name="name" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家副标题：</label>
                    <div class="col-sm-8">
                        <input name="subject" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">开始营业时间：</label>
                    <div class="col-sm-8">
                        <!--<input name="shopHoursBegin" class="form-control" type="text" maxlength="30" required>-->
                        <div style="display: -webkit-inline-box;padding-left:0px">
                            <div class="input-group">
                                <input type="text" id="shopHoursBegin" name="shopHoursBegin"
                                       readonly="readonly" class="form-control timepicker timepicker-default"
                                       placeholder="从">
                                <span class="input-group-btn">
                                   <button class="btn default" type="button">
                                       <i class="fa fa-clock-o"></i>
                                   </button>
                                </span>
                            </div>
                        </div>

                        <!--<div class="col-md-4">-->
                            <!--<div class="input-group">-->
                                <!--<input type="text" id="shopHoursEnd" name="shopHoursEnd"-->
                                       <!--readonly="readonly" class="form-control timepicker timepicker-default"-->
                                       <!--placeholder="到">-->
                                <!--<span class="input-group-btn">-->
                                    <!--<button class="btn default" type="button">-->
                                        <!--<i class="fa fa-clock-o"></i>-->
                                    <!--</button>-->
                                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">结束营业时间：</label>
                    <div class="col-sm-8">
                        <!--<input name="shopHoursEnd" type="text" class="form-control" required>-->
                            <div class="input-group">
                                <input type="text" id="shopHoursEnd" name="shopHoursEnd"
                                       readonly="readonly" class="form-control timepicker timepicker-default"
                                       placeholder="到">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-clock-o"></i>
                                    </button>
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">地理位置：</label>
                    <div class="col-sm-8">
                        <!--<input name="userName" class="form-control" type="text" maxlength="30" required>-->
                        <input name="address" autocomplete="off" type="text" maxlength="30" required value="请选择/输入城市名称"
                               class="form-control city_input inputFocus proCityQueryAll proCitySelAll" ov="请选择/输入城市名称">
                    </div>
                    <div class="provinceCityAll">
                        <div class="tabs clearfix">
                            <ul>
                                <li>
                                    <a href="javascript:" class="current" tb="hotCityAll">热门城市</a>
                                </li>
                                <li>
                                    <a href="javascript:" tb="provinceAll">省份</a>
                                </li>
                                <li>
                                    <a href="javascript:" tb="cityAll" id="cityAll">城市</a>
                                </li>
                                <li>
                                    <a href="javascript:" tb="countyAll" id="countyAll">区县</a>
                                </li>
                            </ul>
                        </div>
                        <div class="con">
                            <div class="hotCityAll invis" style="display: none;">
                                <div class="pre">
                                    <a>
                                    </a>
                                </div>
                                <div class="list">
                                    <ul>
                                    </ul>
                                </div>
                                <div class="next">
                                    <a class="can">
                                    </a>
                                </div>
                            </div>
                            <div class="provinceAll invis">
                                <div class="pre">
                                    <a>
                                    </a>
                                </div>
                                <div class="list">
                                    <ul>
                                    </ul>
                                </div>
                                <div class="next">
                                    <a class="can">
                                    </a>
                                </div>
                            </div>
                            <div class="cityAll invis">
                                <div class="pre">
                                    <a>
                                    </a>
                                </div>
                                <div class="list">
                                    <ul>
                                    </ul>
                                </div>
                                <div class="next">
                                    <a class="can">
                                    </a>
                                </div>
                            </div>
                            <div class="countyAll invis">
                                <div class="pre">
                                    <a>
                                    </a>
                                </div>
                                <div class="list">
                                    <ul>
                                    </ul>
                                </div>
                                <div class="next">
                                    <a class="can">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script th:src="@{/js/city/jquery-1.6.2.min.js}"></script>
                    <script th:src="@{/js/city/public.js}"></script>
                    <div id="dimCityQuery"><ul></ul></div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">区域名称：</label>
                    <div class="col-sm-8">
                        <input name="regionName" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">封面图片：</label>
                        <div class="col-sm-8 fileinput fileinput-new input-group" data-provides="fileinput" style="padding-left:15px;padding-right:15px;margin-bottom:0px;">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-white btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">更改</span><input name="file" type="file"></span>
                            <a href="#" class="input-group-addon btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否推荐：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <!--<input name="deptName" type="text" class="form-control" required>-->
                        </div>
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" id="suggest" onclick="openClick(this)" checked class="form-control" required>
                            <input type="hidden" name="suggest" value="1" id="suggestH" checked>
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">联系信息</h4>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家座机：</label>
                    <div class="col-sm-8">
                        <input name="telephone" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家手机：</label>
                    <div class="col-sm-8">
                        <input name="mobile" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">联系人姓名：</label>
                    <div class="col-sm-8">
                        <input name="contractName" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">微信号：</label>
                    <div class="col-sm-8">
                        <input name="wechatNo" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">个人二维码图片：</label>
                    <!--<div class="col-sm-8">-->
                        <!--<div class="input-group">-->
                            <!--<input name="wechatNoImg" type="text" class="form-control" required>-->
                        <!--</div>-->
                        <div class="col-sm-8 fileinput fileinput-new input-group" data-provides="fileinput" style="padding-left:15px;padding-right:15px;margin-bottom:0px;">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-white btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">更改</span><input name="file" type="file"></span>
                            <a href="#" class="input-group-addon btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">微信公众平台：</label>
                    <div class="col-sm-8">
                        <input name="wechatPlatform" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">微信公众号图片：</label>
                    <!--<div class="col-sm-8">-->
                        <!--<div class="input-group">-->
                            <!--<input name="wechatPlatformImg" type="text" class="form-control" required>-->
                        <!--</div>-->
                        <div class="col-sm-8 fileinput fileinput-new input-group" data-provides="fileinput" style="padding-left:15px;padding-right:15px;margin-bottom:0px;">
                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                            <span class="input-group-addon btn btn-white btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">更改</span><input name="file" type="file"></span>
                            <a href="#" class="input-group-addon btn btn-white fileinput-exists" data-dismiss="fileinput">清除</a>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否显示微信信息：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" onclick="openClick(this)" checked>
                            <input type="hidden" name="wechatShow" value="1" >
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">其他信息</h4>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">排序键值：</label>
                    <div class="col-sm-8">
                        <input name="sortKey" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">排序权重：</label>
                    <div class="col-sm-8">
                        <input name="sortWeight" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家级别：</label>
                    <div class="col-sm-8">
                        <input name="level" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">商家星级：</label>
                    <div class="col-sm-8">
                        <input name="stars" type="text" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">是否可用：</label>
                    <div class="col-sm-8">
                        <!--<div class="input-group">-->
                        <!--<input name="wechatPlatformImg" type="text" class="form-control" required>-->
                        <!--</div>-->
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" onclick="openClick(this)" checked>
                            <input type="hidden" name="available" value="1" >
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">数据状态：</label>
                    <div class="col-sm-8">
                        <label class="toggle-switch switch-solid">
                            <input type="checkbox" onclick="openClick(this)" checked>
                            <input type="hidden" name="flag" value="1" >
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">其他信息</h4>

        <div class="row">
            <div id="summernote" class="summernote">

            </div>
        </div>

    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="addCourses()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: jasny-bootstrap-js" />
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
<th:block th:include="include :: summernote-js" />
<th:block th:include="include :: bootstrap-fileinput-js" />

<script th:src="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/ajax/libs/datapicker/bootstrap-datetimepicker.zh-CN.js}"></script>

<script th:src="@{/ajax/libs/datapicker/bootstrap-timepicker.min.js}"></script>

<script type="text/javascript">
    //富文本输入框
    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
            placeholder: '请输入商家详细信息。',
            height: 300
        });
    });

    function addCourses() {
        if ($.validate.form()) {
            //$.operate.saveAndUpload(prefix + "/add", $('#form-courses-add'));
            var note = $('.summernote').summernote('code');
            // var data = $('#form-courses-add').serialize();
            // var formData = new FormData();
            // // formData.append("params[file]", file);
            // data.split('&').forEach(function(item){
            //     var is = item.split('=');
            //     var name = decodeURIComponent(is[0]);
            //     var val = decodeURIComponent(is[1]);
            //     console.log("name["+name+"]-->value["+val+"]");
            //     formData.append(name,val);
            // });
            // data += "&contentHtml=" + note;
            // formData.append("contentHtml",note);
            // console.log(data);
            //formData.append("content_html",decodeURI(note));
            //$.operate.save(prefix+"/add",formData);
            $.operate.saveHtml(prefix+"/add",$('#form-shop-add'),"htmlContent",note);
        }
    }

    var prefix = "/shop"
    $("#form-shop-add").validate({
        focusCleanup: true
    });

    // function submitHandler() {
    //     if ($.validate.form()) {
    //         $.operate.saveAndUpload(prefix+"/add",$('#form-shop-add'));
    //     }
    // }

    function openClick(that){
        if($(that).attr('checked')){
            $(that).removeAttrs('checked');
            $(that).parent().find('input').eq(1).val(0);
        }else {
            $(that).attr('checked','checked');
            $(that).parent().find('input').eq(1).val(1);
        }
    }

    function writeCurrentDate() {
        var now = new Date();
        var hour = now.getHours();//得到小时
        var minu = now.getMinutes();//得到分钟
        if (hour < 10) hour = "0" + hour;
        if (minu < 10) minu = "0" + minu;
        var time = "";
        time = hour + ":" + minu;
        //当前日期赋值给当前日期输入框中（jQuery easyUI）
        $("#shopHoursBegin").html(time);
        $("#shopHoursEnd").html(time);
    }

    $("#shopHoursBegin").val(writeCurrentDate).timepicker('setTime', writeCurrentDate);
    $("#shopHoursEnd").val(writeCurrentDate).timepicker('setTime', writeCurrentDate);
</script>
</body>
</html>
