<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商家信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>商家名称：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>是否推荐：</p>
                                <select type="text" name="suggest">
                                    <option value ="1">是</option>
                                    <option value ="0">否</option>
                                </select>
                            </li>
                            <!--<li>-->
                                <!--<p>商家座机：</p>-->
                                <!--<input type="text" name="telephone"/>-->
                            <!--</li>-->
                            <li>
                                <p>微信号：</p>
                                <input type="text" name="wechatNo"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>

                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:shop:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:shop:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:shop:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:base:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:base:remove')}]];
        var viewFlag = [[${@permission.hasPermi('order:detail')}]];
        var prefix = "/shop";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商家信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : '是否可用',
                    visible: false
                },
                {
                    field : 'name',
                    title : '商家名称'
                },
                {
                    field : 'suggest',
                    title : '是否推荐',
                    formatter: function(value) {
                        if(value==1){
                            return '<span class="label label-success">推荐</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">不推荐</span>';
                        }
                        else{
                            return '<span class="label label-white">未知</span>';
                        }
                    }
                },
                {
                    field : 'shopHoursBegin',
                    title : '开始营业时间'
                },
                {
                    field : 'shopHoursEnd',
                    title : '结束营业时间'
                },
                {
                    field : 'level',
                    title : '商家级别'
                },
                {
                    field : 'stars',
                    title : '商家星级'
                },
                {
                    field : 'telephone',
                    title : '商家座机'
                },
                {
                    field : 'wechatNo',
                    title : '微信号'
                },
                {
                    field : 'wechatPlatform',
                    title : '微信公众平台'
                },
                {
                    field : 'available',
                    title : '是否可用',
                    formatter: function(value) {
                        if(value==1){
                            return '<span class="label label-success">可用</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">不可用</span>';
                        }
                        else{
                            return '<span class="label label-white">未知</span>';
                        }
                    }
                },
                {
                    field : 'flag',
                    title : '数据状态',
                    formatter: function(value) {
                        if(value==1){
                            return '<span class="label label-success">可用</span>';
                        }
                        else if(value == 0){
                            return '<span class="label label-danger">不可用</span>';
                        }
                        else{
                            return '<span class="label label-white">未知</span>';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.openShopTab(\'/order\',\'商家订单\',\'' + row.id + '\')"><i class="fa fa-remove"></i>订单</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.openShopTab(\'/shop/courses\',\'商家课程\',\'' + row.id + '\')"><i class="fa fa-remove"></i>课程</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.openShopTab(\'/member\',\'商家会员\',\'' + row.id + '\')"><i class="fa fa-remove"></i>会员</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除 </a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>