<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TCategoryMapper">
    
    <resultMap type="TCategory" id="TCategoryResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="name"    column="name"    />
        <result property="sortKey"    column="sort_key"    />
        <result property="icon"    column="icon"    />
        <result property="available"    column="available"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTCategoryVo">
        select id, parent_id, name, sort_key, icon, available, flag, create_time, create_by, update_time, update_by from t_category
    </sql>

    <select id="selectTCategoryList" parameterType="TCategory" resultMap="TCategoryResult">
        <include refid="selectTCategoryVo"/>
        <where>  
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sortKey != null "> and sort_key = #{sortKey}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="available != null "> and available = #{available}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
        ORDER BY parent_id asc,sort_key ASC
    </select>

    <select id="getAllCategoryByMap" parameterType="java.util.Map" resultMap="TCategoryResult">
        <include refid="selectTCategoryVo"/>
        <where>
            flag = 0
            <if test="parent != null">
                AND parent_id is null or parent_id = ''
            </if>
        </where>
        ORDER BY sort_key ASC
    </select>

    <select id="getChildList" parameterType="java.lang.String" resultMap="TCategoryResult">
        <include refid="selectTCategoryVo"/>
        <where>
            flag = 0
            <if test="_parameter != null">and parent_id = #{_parameter}

            </if>
        </where>
        ORDER BY sort_key ASC
    </select>

    <select id="selectTCategoryById" parameterType="String" resultMap="TCategoryResult">
        <include refid="selectTCategoryVo"/>
        where id = #{id}
        and flag = 0
        order by sort_key ASC
    </select>
        
    <insert id="insertTCategory" parameterType="TCategory">
        insert into t_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="parentId != null  and parentId != ''">parent_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="sortKey != null ">sort_key,</if>
            <if test="icon != null  and icon != ''">icon,</if>
            <if test="available != null ">available,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="parentId != null  and parentId != ''">#{parentId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="sortKey != null ">#{sortKey},</if>
            <if test="icon != null  and icon != ''">#{icon},</if>
            <if test="available != null ">#{available},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTCategory" parameterType="TCategory">
        update t_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null  and parentId != ''">parent_id = #{parentId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="sortKey != null ">sort_key = #{sortKey},</if>
            <if test="icon != null  and icon != ''">icon = #{icon},</if>
            <if test="available != null ">available = #{available},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCategoryById" parameterType="String">
        update t_category
        <trim prefix="SET" suffixOverrides=",">
            flag = 1
        </trim>
        where id = #{id}
    </delete>

    <delete id="deleteTCategoryByIds" parameterType="String">
        update t_category
        <trim prefix="SET" suffixOverrides=",">
            flag = 1
        </trim>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAllCategory" resultMap="TCategoryResult">
        SELECT
            parent_id,
            id,
            name,
            icon
        FROM
            t_category
            WHERE
            flag = 0
            <if test="_parameter != null  and _parameter != ''">and parent_id = #{parentId}</if>
    </select>

    <select id="getSubCategory" resultMap="TCategoryResult">
        SELECT
            *
        FROM
            t_category
        WHERE
            parent_id = #{parentId} AND flag = 0
        ORDER BY sort_key ASC
    </select>

    <select id="searchCategory" resultMap="TCategoryResult">
        SELECT
            *
        FROM
            t_category
        WHERE
            `name` LIKE "%"#{name}"%"
            AND parent_id IS NOT NULL AND flag = 0
        ORDER BY sort_key ASC
    </select>
</mapper>