<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TMemberMapper">
    
    <resultMap type="TMember" id="TMemberResult">
        <result property="id"    column="id"    />
        <result property="openId"    column="open_id"    />
        <result property="wxName"    column="wx_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="regTime"    column="reg_time"    />
        <result property="star"    column="star"    />
        <result property="status"    column="status"    />
        <result property="flag"    column="flag"    />
        <result property="realName"    column="real_name"    />
        <result property="accountLevel"    column="account_level"    />
        <result property="score"    column="score"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>
    <resultMap id="TMemberAndTMemberBaby" type="TMember" extends="TMemberResult">
        <collection property="TMemberBabyList" ofType="TMemberBaby" >
            <result property="id"    column="a_id"    />
            <result property="memberId"    column="member_id"    />
            <result property="realName"    column="real_name"    />
            <result property="birthday"    column="birthday"    />
            <result property="sex"    column="sex"    />
            <result property="interest"    column="interest"    />
            <result property="nickName"    column="nick_name"    />
        </collection>
    </resultMap>

    <resultMap id="TMemberModel" type="co.tton.qcloud.system.domain.TMemberModel">
        <result property="id"    column="id"    />
        <result property="openId"    column="open_id"    />
        <result property="wxName"    column="wx_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="regTime"    column="reg_time"    />
        <result property="star"    column="star"    />
        <result property="status"    column="status"    />
        <result property="flag"    column="flag"    />
        <result property="realName"    column="real_name"    />
        <result property="accountLevel"    column="account_level"    />
        <result property="score"    column="score"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>


    <sql id="selectTMemberVo">
        select id, open_id, wx_name, mobile, reg_time, star, status, flag, real_name, account_level, score, create_time, create_by, update_time, update_by from t_member
    </sql>

    <select id="selectTMemberList" parameterType="TMember" resultMap="TMemberResult">
        <include refid="selectTMemberVo"/>
        <where>  
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
            <if test="wxName != null  and wxName != ''"> and wx_name like concat('%', #{wxName}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="regTime != null "> and reg_time = #{regTime}</if>
            <if test="star != null "> and star = #{star}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="accountLevel != null  and accountLevel != ''"> and account_level = #{accountLevel}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectTMemberById" parameterType="String" resultMap="TMemberResult">
        <include refid="selectTMemberVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMember" parameterType="TMember">
        insert into t_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="openId != null  and openId != ''">open_id,</if>
            <if test="wxName != null  and wxName != ''">wx_name,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="regTime != null ">reg_time,</if>
            <if test="star != null ">star,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="flag != null ">flag,</if>
            <if test="realName != null  and realName != ''">real_name,</if>
            <if test="accountLevel != null  and accountLevel != ''">account_level,</if>
            <if test="score != null ">score,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="openId != null  and openId != ''">#{openId},</if>
            <if test="wxName != null  and wxName != ''">#{wxName},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="regTime != null ">#{regTime},</if>
            <if test="star != null ">#{star},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="realName != null  and realName != ''">#{realName},</if>
            <if test="accountLevel != null  and accountLevel != ''">#{accountLevel},</if>
            <if test="score != null ">#{score},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTMember" parameterType="TMember">
    update t_member
    <trim prefix="SET" suffixOverrides=",">
        <if test="openId != null  and openId != ''">open_id = #{openId},</if>
        <if test="wxName != null  and wxName != ''">wx_name = #{wxName},</if>
        <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
        <if test="regTime != null ">reg_time = #{regTime},</if>
        <if test="star != null ">star = #{star},</if>
        <if test="status != null  and status != ''">status = #{status},</if>
        <if test="flag != null ">flag = #{flag},</if>
        <if test="realName != null  and realName != ''">real_name = #{realName},</if>
        <if test="accountLevel != null  and accountLevel != ''">account_level = #{accountLevel},</if>
        <if test="score != null ">score = #{score},</if>
        <if test="createTime != null ">create_time = #{createTime},</if>
        <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
        <if test="updateTime != null ">update_time = #{updateTime},</if>
        <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
    </trim>
    where id = #{id}
</update>

    <delete id="deleteTMemberById" parameterType="String">
        delete from t_member where id = #{id}
    </delete>

    <delete id="deleteTMemberByIds" parameterType="String">
        delete from t_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询会员详情-->
    <select id="getMemberInfo" parameterType="String" resultMap="TMemberModel">
        select
        t.id,
        t.avatar,
        t.wx_name,
        t.account_level,
        count(er.order_no) as orderNo,
        sum(er.pay_status = 'UNPAY')as payStatus,
        sum(er.use_status = 'UNUSED')as useStatus,
        sum(er.bill_status = 'FINISHED')as billStatus
        from
        t_member t
        left join t_order er on t.id = er.member_id
        <where>
            t.flag = 0
            <if test="_parameter != null and _parameter != ''">and t.id = #{id}</if>
        </where>
    </select>

    <!--查询会员用户子女详情-->
    <select id="getFavourite" parameterType="String" resultMap="TMemberAndTMemberBaby">
        select t.id,t.avatar,t.account_level,b.id as a_id,b.real_name,b.birthday,b.sex,b.interest,b.nick_name
        from t_member t
        left join t_member_baby b on t.id = b.member_id
        <where>
            t.flag = 0
            <if test="_parameter != null and _parameter != ''">and t.id = #{id}</if>
        </where>
    </select>

    <select id="getMemberByOpenId" resultMap="TMemberResult">
        SELECT
            *
        FROM
            t_member
        WHERE
            open_id = #{openId}
    </select>

    <insert id="saveMember" parameterType="TMember">
        insert into t_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="openId != null  and openId != ''">open_id,</if>
            <if test="wxName != null  and wxName != ''">wx_name,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="regTime != null ">reg_time,</if>
            <if test="star != null ">star,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="flag != null ">flag,</if>
            <if test="realName != null  and realName != ''">real_name,</if>
            <if test="accountLevel != null  and accountLevel != ''">account_level,</if>
            <if test="score != null ">score,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="openId != null  and openId != ''">#{openId},</if>
            <if test="wxName != null  and wxName != ''">#{wxName},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="regTime != null ">#{regTime},</if>
            <if test="star != null ">#{star},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="realName != null  and realName != ''">#{realName},</if>
            <if test="accountLevel != null  and accountLevel != ''">#{accountLevel},</if>
            <if test="score != null ">#{score},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>
    <!--登录时会员基本信息查询-->
    <select id="loginInfo" resultMap="TMemberResult">
        SELECT
            *
        FROM
            t_member
        WHERE
            open_id = #{openId}
    </select>

    <insert id="insertloginInfo" parameterType="TMember">
        insert into t_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="openId != null  and openId != ''">open_id,</if>
            <if test="wxName != null  and wxName != ''">wx_name,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="regTime != null ">reg_time,</if>
            <if test="star != null ">star,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="flag != null ">flag,</if>
            <if test="realName != null  and realName != ''">real_name,</if>
            <if test="accountLevel != null  and accountLevel != ''">account_level,</if>
            <if test="score != null ">score,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="openId != null  and openId != ''">#{openId},</if>
            <if test="wxName != null  and wxName != ''">#{wxName},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="regTime != null ">#{regTime},</if>
            <if test="star != null ">#{star},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="realName != null  and realName != ''">#{realName},</if>
            <if test="accountLevel != null  and accountLevel != ''">#{accountLevel},</if>
            <if test="score != null ">#{score},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>
</mapper>