<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TMemberBabyMapper">
    
    <resultMap type="TMemberBaby" id="TMemberBabyResult">
        <result property="id"    column="id"    />
        <result property="memberId"    column="member_id"    />
        <result property="realName"    column="real_name"    />
        <result property="birthday"    column="birthday"    />
        <result property="sex"    column="sex"    />
        <result property="interest"    column="interest"    />
        <result property="nickName"    column="nick_name"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTMemberBabyVo">
        select id, member_id, real_name, birthday, sex, interest, nick_name, flag, create_time, create_by, update_time, update_by from t_member_baby
    </sql>

    <select id="selectTMemberBabyList" parameterType="TMemberBaby" resultMap="TMemberBabyResult">
        <include refid="selectTMemberBabyVo"/>
        <where>  
            <if test="memberId != null  and memberId != ''"> and member_id = #{memberId}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="birthday != null "> and birthday = #{birthday}</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="interest != null  and interest != ''"> and interest = #{interest}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectTMemberBabyById" parameterType="String" resultMap="TMemberBabyResult">
        <include refid="selectTMemberBabyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMemberBaby" parameterType="TMemberBaby">
        insert into t_member_baby
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="memberId != null  and memberId != ''">member_id,</if>
            <if test="realName != null  and realName != ''">real_name,</if>
            <if test="birthday != null ">birthday,</if>
            <if test="sex != null ">sex,</if>
            <if test="interest != null  and interest != ''">interest,</if>
            <if test="nickName != null  and nickName != ''">nick_name,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="memberId != null  and memberId != ''">#{memberId},</if>
            <if test="realName != null  and realName != ''">#{realName},</if>
            <if test="birthday != null ">#{birthday},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="interest != null  and interest != ''">#{interest},</if>
            <if test="nickName != null  and nickName != ''">#{nickName},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTMemberBaby" parameterType="TMemberBaby">
        update t_member_baby
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null  and memberId != ''">member_id = #{memberId},</if>
            <if test="realName != null  and realName != ''">real_name = #{realName},</if>
            <if test="birthday != null ">birthday = #{birthday},</if>
            <if test="sex != null ">sex = #{sex},</if>
            <if test="interest != null  and interest != ''">interest = #{interest},</if>
            <if test="nickName != null  and nickName != ''">nick_name = #{nickName},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMemberBabyById" parameterType="String">
        delete from t_member_baby where id = #{id}
    </delete>

    <delete id="deleteTMemberBabyByIds" parameterType="String">
        delete from t_member_baby where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--会员子女信息修改-->
    <update id="upMemberBabyInfo">
        update t_member_baby
        <trim prefix="SET" suffixOverrides=",">
            <if test="realName != null  and realName != ''">real_name = #{realName},</if>
            <if test="birthday != null  and birthday != ''">birthday = STR_TO_DATE (#{birthday}, '%Y-%m-%d %H:%i:%s'),</if>
            <if test="sex != null ">sex = #{sex},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>