<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TOrderMapper">
    
    <resultMap type="TOrder" id="TOrderResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="subject"    column="subject"    />
        <result property="address"    column="address"    />
        <result property="shopId"    column="shop_id"    />
        <result property="preRealPrice"    column="pre_real_price"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="paymentChannel"    column="payment_channel"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="haveDiscount"    column="have_discount"    />
        <result property="bookingTime"    column="booking_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="useStatus"    column="use_status"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="verifyStatus"    column="verify_status"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="memberId"    column="member_id"    />
        <result property="shopName"    column="shop_name"/>
    </resultMap>

    <resultMap type="TOrderModel" id="TOrderModelResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="subject"    column="subject"    />
        <result property="address"    column="address"    />
        <result property="shopId"    column="shop_id"    />
        <result property="preRealPrice"    column="pre_real_price"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="paymentChannel"    column="payment_channel"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="haveDiscount"    column="have_discount"    />
        <result property="bookingTime"    column="booking_time"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="useStatus"    column="use_status"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="verifyStatus"    column="verify_status"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="memberId"    column="member_id"    />
        <result property="shopName"    column="shop_name"/>
        <result property="realName" column="real_name"/>
        <result property="wxName" column="wx_name"/>
        <result property="regTime" column="reg_time"/>
        <result property="account_level" column="accountLevel"/>
        <result property="avatar" column="avatar"/>
        <result property="openId" column="open_id"/>
        <result property="serialNo" column="serial_no"/>
        <result property="payTime" column="pay_time"/>
        <result property="paymentChannel" column="payment_channel"/>
        <result property="couponId" column="coupon_id"/>
        <result property="couponNo" column="coupon_no"/>
        <result property="faceValue" column="face_value"/>
        <result property="avaBeginTime" column="ava_begin_time"/>
        <result property="avaEndTime" column="ava_end_time"/>
        <result property="useStatus" column="use_status"/>
        <result property="lessionTime"    column="lession_time"    />
    </resultMap>

    <resultMap type="WxOrderDetail" id="WxOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="mobile"    column="mobile"    />
        <result property="payPrice"    column="pay_price"    />
        <result property="preRealPrice"    column="pre_real_price"    />
        <result property="faceValue"    column="face_value"    />
        <result property="orderNo"    column="order_no"    />
        <result property="bookingTime"    column="booking_Time"    />
        <result property="confirmNo"    column="confirm_no"    />
        <result property="address"    column="address"    />
        <result property="shopHoursBegin"    column="shop_hours_begin"    />
        <result property="shopHoursEnd"    column="shop_hours_end"    />
        <result property="title"    column="title"    />
        <result property="commentNote"    column="comment_note"    />
        <result property="lessionTime"    column="lession_time"    />
    </resultMap>

    <sql id="selectTOrderVo">
        select id, order_no, subject, address, shop_id, pre_real_price, pay_price, payment_channel, serial_no, have_discount, booking_time, pay_time, pay_status, use_status, bill_status, verify_status, flag, create_time, create_by, update_time, update_by, member_id,
        (select name from t_shop where id = o.shop_id) as shop_name
        from t_order o
    </sql>

    <select id="selectTOrderList" parameterType="TOrder" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="shopId != null  and shopId != ''"> and shop_id = #{shopId}</if>
            <if test="preRealPrice != null "> and pre_real_price = #{preRealPrice}</if>
            <if test="payPrice != null "> and pay_price = #{payPrice}</if>
            <if test="paymentChannel != null  and paymentChannel != ''"> and payment_channel = #{paymentChannel}</if>
            <if test="serialNo != null  and serialNo != ''"> and serial_no = #{serialNo}</if>
            <if test="haveDiscount != null "> and have_discount = #{haveDiscount}</if>
            <if test="bookingTime != null "> and booking_time = #{bookingTime}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
            <if test="useStatus != null  and useStatus != ''"> and use_status = #{useStatus}</if>
            <if test="billStatus != null  and billStatus != ''"> and bill_status = #{billStatus}</if>
            <if test="verifyStatus != null  and verifyStatus != ''"> and verify_status = #{verifyStatus}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="memberId != null  and memberId != ''"> and member_id = #{memberId}</if>
        </where>
    </select>
    
    <select id="selectTOrderById" parameterType="String" resultMap="TOrderResult">
        <include refid="selectTOrderVo"/>
        where id = #{id}
    </select>

    <select id="selectFullOrderById" parameterType="String" resultMap="TOrderModelResult">
        SELECT
        o.id,
        o.order_no,
        o.`subject`,
        o.address,
        o.shop_id,
        o.pre_real_price,
        o.pay_price,
        o.payment_channel,
        o.serial_no,
        o.have_discount,
        o.booking_time,
        o.pay_time,
        o.pay_status,
        o.use_status,
        o.bill_status,
        o.verify_status,
        o.flag,
        o.create_time,
        o.create_by,
        o.update_time,
        o.update_by,
        o.member_id,
        s.`name` AS shop_name,
        m.real_name,
        m.open_id,
        m.wx_name,
        m.reg_time,
        m.mobile,
        m.account_level,
        m.avatar,
        p.remote_info,
        full_coupon.coupon_id,
        full_coupon.use_time,
        full_coupon.sno as coupon_no,
        full_coupon.face_value,
        full_coupon.ava_begin_time,
        full_coupon.ava_end_time,
        full_coupon.use_status as coupon_use_status,
        full_coupon.received_member_id,
        full_coupon.receive_status as received_status
        FROM
        t_order o
        LEFT JOIN t_shop s ON o.shop_id = s.id
        LEFT JOIN t_member m ON o.member_id = m.id
        LEFT JOIN t_order_payment p ON p.order_id = o.id
        LEFT JOIN (
        SELECT
            oc.id,
            oc.order_id,
            oc.use_time,
            c.id AS coupon_id,
            c.sno,
            c.face_value,
            c.ava_begin_time,
            c.ava_end_time,
            c.use_status,
            c.receive_status,
            crl.received_time,
            crl.member_id AS received_member_id
        FROM
            t_order_coupon oc
            LEFT JOIN t_coupon c ON oc.coupon_id = c.id
        LEFT JOIN t_coupon_receive_log crl ON oc.coupon_id = crl.coupon_id
        ) AS full_coupon ON full_coupon.order_id = o.id
        WHERE o.id = #{id}
    </select>
        
    <insert id="insertTOrder" parameterType="TOrder">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="orderNo != null  and orderNo != ''">order_no,</if>
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="shopId != null  and shopId != ''">shop_id,</if>
            <if test="preRealPrice != null ">pre_real_price,</if>
            <if test="payPrice != null ">pay_price,</if>
            <if test="paymentChannel != null  and paymentChannel != ''">payment_channel,</if>
            <if test="serialNo != null  and serialNo != ''">serial_no,</if>
            <if test="haveDiscount != null ">have_discount,</if>
            <if test="bookingTime != null ">booking_time,</if>
            <if test="payTime != null ">pay_time,</if>
            <if test="payStatus != null  and payStatus != ''">pay_status,</if>
            <if test="useStatus != null  and useStatus != ''">use_status,</if>
            <if test="billStatus != null  and billStatus != ''">bill_status,</if>
            <if test="verifyStatus != null  and verifyStatus != ''">verify_status,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="memberId != null  and memberId != ''">member_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="orderNo != null  and orderNo != ''">#{orderNo},</if>
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="shopId != null  and shopId != ''">#{shopId},</if>
            <if test="preRealPrice != null ">#{preRealPrice},</if>
            <if test="payPrice != null ">#{payPrice},</if>
            <if test="paymentChannel != null  and paymentChannel != ''">#{paymentChannel},</if>
            <if test="serialNo != null  and serialNo != ''">#{serialNo},</if>
            <if test="haveDiscount != null ">#{haveDiscount},</if>
            <if test="bookingTime != null ">#{bookingTime},</if>
            <if test="payTime != null ">#{payTime},</if>
            <if test="payStatus != null  and payStatus != ''">#{payStatus},</if>
            <if test="useStatus != null  and useStatus != ''">#{useStatus},</if>
            <if test="billStatus != null  and billStatus != ''">#{billStatus},</if>
            <if test="verifyStatus != null  and verifyStatus != ''">#{verifyStatus},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="memberId != null  and memberId != ''">#{memberId},</if>
         </trim>
    </insert>

    <update id="updateTOrder" parameterType="TOrder">
        update t_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null  and orderNo != ''">order_no = #{orderNo},</if>
            <if test="subject != null  and subject != ''">subject = #{subject},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="shopId != null  and shopId != ''">shop_id = #{shopId},</if>
            <if test="preRealPrice != null ">pre_real_price = #{preRealPrice},</if>
            <if test="payPrice != null ">pay_price = #{payPrice},</if>
            <if test="paymentChannel != null  and paymentChannel != ''">payment_channel = #{paymentChannel},</if>
            <if test="serialNo != null  and serialNo != ''">serial_no = #{serialNo},</if>
            <if test="haveDiscount != null ">have_discount = #{haveDiscount},</if>
            <if test="bookingTime != null ">booking_time = #{bookingTime},</if>
            <if test="payTime != null ">pay_time = #{payTime},</if>
            <if test="payStatus != null  and payStatus != ''">pay_status = #{payStatus},</if>
            <if test="useStatus != null  and useStatus != ''">use_status = #{useStatus},</if>
            <if test="billStatus != null  and billStatus != ''">bill_status = #{billStatus},</if>
            <if test="verifyStatus != null  and verifyStatus != ''">verify_status = #{verifyStatus},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="memberId != null  and memberId != ''">member_id = #{memberId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOrderById" parameterType="String">
        <!--delete from t_order where id = #{id}-->
        update t_order set flag = 1 where id = #{id}
    </delete>

    <delete id="deleteTOrderByIds" parameterType="String">
        delete from t_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getOrderList" resultMap="TOrderModelResult">
        SELECT
            tod.lession_time,
            too.`subject`,
            too.order_no,
            too.pay_price,
            tsci.image_url,
            too.use_status,
            too.bill_status,
            too.pay_status
        FROM
            t_order_detail tod
            INNER JOIN t_order too ON tod.order_id = too.id
            INNER JOIN t_shop_courses_images tsci ON tsci.courses_id = tod.courses_id
        WHERE
            tsci.sort_key = 1
            AND too.flag = 0
    </select>

    <select id="getOrderDetail" resultMap="WxOrderDetailResult">
        SELECT
            too.id,
            tmb.real_name AS babyRealName,
            tmb.nick_name AS babyNickName,
            tmb.sex,
            tmb.birthday,
            tm.real_name AS adultName,
            tm.mobile,
            too.pay_price,
            too.pre_real_price,
            toc.face_value,
            too.order_no,
            too.booking_time,
            tod.confirm_no,
            too.address,
            ts.shop_hours_begin,
            ts.shop_hours_end,
            tsc.title,
            too.comment_note
        FROM
            t_order_detail tod
            INNER JOIN t_order too ON too.id = tod.order_id
            INNER JOIN t_order_use_log toul ON tod.order_id = toul.order_id
            INNER JOIN t_member tm ON tm.id = toul.member_id
            INNER JOIN t_member_baby tmb ON tmb.id = toul.child_id
            INNER JOIN t_order_coupon toc ON toc.order_id = tod.order_id
            INNER JOIN t_shop ts ON ts.id = too.shop_id
            INNER JOIN t_shop_courses tsc ON tsc.id = tod.courses_id
        WHERE
            tod.order_id = #{orderId}
            AND tod.flag = 0
    </select>
</mapper>