<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TOrderDetailMapper">
    
    <resultMap type="TOrderDetail" id="TOrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="timeId"    column="time_id"    />
        <result property="priceId"    column="price_id"    />
        <result property="preRealPrice"    column="pre_real_price"    />
        <result property="useStatus"    column="use_status"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <resultMap type="TOrderDetailModel" id="TOrderDetailModelResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="timeId"    column="time_id"    />
        <result property="priceId"    column="price_id"    />
        <result property="preRealPrice"    column="pre_real_price"    />
        <result property="useStatus"    column="use_status"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="title" column="title"/>
        <result property="subTitle" column="sub_title"/>
        <result property="isSuggest" column="is_suggest"/>
        <result property="price" column="price"/>
        <result property="priceL1" column="l1_price"/>
        <result property="priceL2" column="l2_price"/>
        <result property="priceL3" column="l3_price"/>
        <result property="priceL4" column="l4_price"/>
        <result property="priceL5" column="l5_price"/>
        <result property="priceL6" column="l6_price"/>
        <result property="priceL7" column="l7_price"/>
        <result property="priceL8" column="l8_price"/>
        <result property="priceL9" column="l9_price"/>
        <result property="wkNo" column="wk_no"/>
        <result property="apm" column="am_pm"/>
        <result property="beginTime" column="b_time"/>
        <result property="endTime" column="e_time"/>
    </resultMap>


    <sql id="selectTOrderDetailVo">
        select id, order_id, courses_id, time_id, price_id, pre_real_price, use_status, flag, create_time, create_by, update_time, update_by from t_order_detail
    </sql>

    <select id="selectTOrderDetailList" parameterType="TOrderDetail" resultMap="TOrderDetailResult">
        <include refid="selectTOrderDetailVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="coursesId != null  and coursesId != ''"> and courses_id = #{coursesId}</if>
            <if test="timeId != null  and timeId != ''"> and time_id = #{timeId}</if>
            <if test="priceId != null  and priceId != ''"> and price_id = #{priceId}</if>
            <if test="preRealPrice != null "> and pre_real_price = #{preRealPrice}</if>
            <if test="useStatus != null  and useStatus != ''"> and use_status = #{useStatus}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>

    <select id="selectTOrderDetailModelList" parameterType="String" resultMap="TOrderDetailModelResult">
        SELECT
        d.id,
        d.order_id,
        d.courses_id,
        d.time_id,
        d.price_id,
        d.count,
        d.pre_real_price AS total_price,
        d.use_status,
        d.flag,
        d.create_time,
        d.create_by,
        d.update_time,
        d.update_by,
        d.am_pm,
        c.title,
        c.sub_title,
        c.suggest AS is_suggest,
        cp.price,
        cp.l1_price,
        cp.l2_price,
        cp.l3_price,
        cp.l4_price,
        cp.l5_price,
        cp.l6_price,
        cp.l7_price,
        cp.l8_price,
        cp.l9_price,
        d.lession_time
        FROM
        t_order_detail d
        LEFT JOIN t_shop_courses c ON d.courses_id = c.id
        LEFT JOIN t_shop_courses_price cp ON cp.id = d.price_id
        WHERE d.order_id = #{order_id}
    </select>
    <select id="selectTOrderDetailById" parameterType="String" resultMap="TOrderDetailResult">
        <include refid="selectTOrderDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertTOrderDetail" parameterType="TOrderDetail">
        insert into t_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="orderId != null  and orderId != ''">order_id,</if>
            <if test="coursesId != null  and coursesId != ''">courses_id,</if>
            <if test="timeId != null  and timeId != ''">time_id,</if>
            <if test="priceId != null  and priceId != ''">price_id,</if>
            <if test="preRealPrice != null ">pre_real_price,</if>
            <if test="useStatus != null  and useStatus != ''">use_status,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="amPm != null  and amPm != ''">am_pm,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="coursesTime != null ">courses_time,</if>
            <if test="childId != null  and childId != ''">child_id,</if>
            <if test="childName != null  and childName != ''">child_name,</if>
            <if test="childSex != null  and childSex != ''">child_sex,</if>
            <if test="childBirthday != null ">child_birthday,</if>
            <if test="confirmNo != null  and confirmNo != ''">confirm_no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="orderId != null  and orderId != ''">#{orderId},</if>
            <if test="coursesId != null  and coursesId != ''">#{coursesId},</if>
            <if test="timeId != null  and timeId != ''">#{timeId},</if>
            <if test="priceId != null  and priceId != ''">#{priceId},</if>
            <if test="preRealPrice != null ">#{preRealPrice},</if>
            <if test="useStatus != null  and useStatus != ''">#{useStatus},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="amPm != null  and amPm != ''">#{amPm},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="coursesTime != null ">#{coursesTime},</if>
            <if test="childId != null  and childId != ''">#{childId},</if>
            <if test="childName != null  and childName != ''">#{childName},</if>
            <if test="childSex != null  and childSex != ''">#{childSex},</if>
            <if test="childBirthday != null ">#{childBirthday},</if>
            <if test="confirmNo != null  and confirmNo != ''">#{confirmNo},</if>
         </trim>
    </insert>

    <update id="updateTOrderDetail" parameterType="TOrderDetail">
        update t_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="coursesId != null  and coursesId != ''">courses_id = #{coursesId},</if>
            <if test="timeId != null  and timeId != ''">time_id = #{timeId},</if>
            <if test="priceId != null  and priceId != ''">price_id = #{priceId},</if>
            <if test="preRealPrice != null ">pre_real_price = #{preRealPrice},</if>
            <if test="useStatus != null  and useStatus != ''">use_status = #{useStatus},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTOrderDetailById" parameterType="String">
        delete from t_order_detail where id = #{id}
    </delete>

    <delete id="deleteTOrderDetailByIds" parameterType="String">
        delete from t_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getOrderMon" parameterType="String" resultType="java.lang.String">
        SELECT
            count( * )
        FROM
            t_order_detail
        WHERE
            DATE_SUB( CURDATE( ), INTERVAL 30 DAY ) &lt;= date( create_time )
        AND courses_id = #{coursesId}
        AND flag = 0
    </select>
</mapper>