<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TOrderUseEvaluationMapper">

    <resultMap type="TOrderUseEvaluation" id="TOrderUseEvaluationResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="memberId"    column="member_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="evaluation"    column="evaluation"    />
        <result property="star"    column="star"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>
    <resultMap type="TOrderUseEvaluation" id="TOrderUseEvaluationExtendResult" extends="TOrderUseEvaluationResult">
        <result property="wxName"    column="wx_name"    />
    </resultMap>


    <sql id="selectTOrderUseEvaluationVo">
        select id, order_no, member_id, image_url, evaluation, star, courses_id, flag, create_time, create_by, update_time, update_by from t_order_use_evaluation
    </sql>

    <insert id="insertOrderUseEvaluation" parameterType="TOrderUseEvaluation">
        insert into t_order_use_evaluation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="orderNo != null  and orderNo != ''">order_no,</if>
            <if test="memberId != null  and memberId != ''">member_id,</if>
            <if test="imageUrl != null  and imageUrl != ''">image_url,</if>
            <if test="evaluation != null and evaluation != ''">evaluation,</if>
            <if test="star != null  and star != ''">star,</if>
            <if test="coursesId != null  and coursesId != ''">courses_id,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="orderNo != null  and orderNo != ''">#{orderNo},</if>
            <if test="memberId != null  and memberId != ''">#{memberId},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="evaluation != null and evaluation != ''">#{evaluation},</if>
            <if test="star != null  and star != ''">#{star},</if>
            <if test="coursesId != null  and coursesId != ''">#{coursesId},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <select id="getCoursesCategory"  resultMap="TOrderUseEvaluationExtendResult" parameterType="String">
        SELECT e.id, e.order_no, e.member_id, e.image_url, e.evaluation, e.star, e.courses_id, e.flag, e.create_time,m.wx_name,m.img
        FROM t_order_use_evaluation e
        LEFT JOIN  t_member m ON e.member_id = m.id
        <where>
            <if test="_parameter!= null  and _parameter != ''"> AND e.courses_id = #{coursesId}</if>
            AND e.flag = 0
        </where>
        ORDER BY e.create_time  DESC
    </select>
</mapper>