<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TOrderUseEvaluationMapper">

    <resultMap type="TOrderUseEvaluation" id="TOrderUseEvaluationResult">
        <result property="id"    column="id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="memberId"    column="member_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="evaluation"    column="evaluation"    />
        <result property="star"    column="star"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTOrderUseEvaluationVo">
        select id, order_id, member_id, image_url, evaluation, star, courses_id, flag, create_time, create_by, update_time, update_by from t_order_use_evaluation
    </sql>

    <insert id="insertOrderUseEvaluation" parameterType="TOrderUseEvaluation">
        insert into t_order_use_evaluation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="orderNo != null  and orderNo != ''">order_no,</if>
            <if test="memberId != null  and memberId != ''">member_id,</if>
            <if test="imageUrl != null  and imageUrl != ''">image_url,</if>
            <if test="evaluation != null and evaluation != ''">evaluation,</if>
            <if test="star != null  and star != ''">star,</if>
            <if test="coursesId != null  and coursesId != ''">courses_id,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="orderNo != null  and orderNo != ''">#{order_no},</if>
            <if test="memberId != null  and memberId != ''">#{member_id},</if>
            <if test="imageUrl != null and imageUrl != ''">#{image_url},</if>
            <if test="evaluation != null and evaluation != ''">#{evaluation},</if>
            <if test="star != null  and star != ''">#{star},</if>
            <if test="coursesId != null  and coursesId != ''">#{courses_id},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
        </trim>
    </insert>

    <!--<select id="selectTTopicById" parameterType="String" resultMap="TTopicResult">-->
    <!--<include refid="selectTTopicVo"/>-->
    <!--where id = #{id}-->
    <!--</select>-->

    <!--<select id="selectTTopicList" parameterType="TTopic" resultMap="TTopicResult">-->
        <!--<include refid="selectTTopicVo"/>-->
        <!--<where>-->
            <!--<if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>-->
            <!--<if test="icon != null  and icon != ''"> and icon = #{icon}</if>-->
            <!--<if test="sortKey != null "> and sort_key = #{sortKey}</if>-->
            <!--<if test="showInMain != null "> and show_in_main = #{showInMain}</if>-->
            <!--<if test="categoryId != null  and categoryId != ''"> and category_id = #{categoryId}</if>-->
            <!--<if test="summary != null  and summary != ''"> and summary = #{summary}</if>-->
            <!--<if test="available != null "> and available = #{available}</if>-->
            <!--<if test="suggest != null "> and suggest = #{suggest}</if>-->
            <!--<if test="flag != null "> and flag = #{flag}</if>-->
            <!--<if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>-->
            <!--<if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>-->
        <!--</where>-->
    <!--</select>-->

    <!--<select id="selectTTopicById" parameterType="String" resultMap="TTopicResult">-->
        <!--<include refid="selectTTopicVo"/>-->
        <!--where id = #{id}-->
    <!--</select>-->

    <!--<insert id="insertTTopic" parameterType="TTopic">-->
        <!--insert into t_topic-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null  and id != ''">id,</if>-->
            <!--<if test="name != null  and name != ''">name,</if>-->
            <!--<if test="icon != null  and icon != ''">icon,</if>-->
            <!--<if test="sortKey != null ">sort_key,</if>-->
            <!--<if test="showInMain != null ">show_in_main,</if>-->
            <!--<if test="categoryId != null  and categoryId != ''">category_id,</if>-->
            <!--<if test="summary != null  and summary != ''">summary,</if>-->
            <!--<if test="available != null ">available,</if>-->
            <!--<if test="suggest != null ">suggest,</if>-->
            <!--<if test="flag != null ">flag,</if>-->
            <!--<if test="createTime != null ">create_time,</if>-->
            <!--<if test="createBy != null  and createBy != ''">create_by,</if>-->
            <!--<if test="updateTime != null ">update_time,</if>-->
            <!--<if test="updateBy != null  and updateBy != ''">update_by,</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="id != null  and id != ''">#{id},</if>-->
            <!--<if test="name != null  and name != ''">#{name},</if>-->
            <!--<if test="icon != null  and icon != ''">#{icon},</if>-->
            <!--<if test="sortKey != null ">#{sortKey},</if>-->
            <!--<if test="showInMain != null ">#{showInMain},</if>-->
            <!--<if test="categoryId != null  and categoryId != ''">#{categoryId},</if>-->
            <!--<if test="summary != null  and summary != ''">#{summary},</if>-->
            <!--<if test="available != null ">#{available},</if>-->
            <!--<if test="suggest != null ">#{suggest},</if>-->
            <!--<if test="flag != null ">#{flag},</if>-->
            <!--<if test="createTime != null ">#{createTime},</if>-->
            <!--<if test="createBy != null  and createBy != ''">#{createBy},</if>-->
            <!--<if test="updateTime != null ">#{updateTime},</if>-->
            <!--<if test="updateBy != null  and updateBy != ''">#{updateBy},</if>-->
        <!--</trim>-->
    <!--</insert>-->

    <!--<update id="updateTTopic" parameterType="TTopic">-->
        <!--update t_topic-->
        <!--<trim prefix="SET" suffixOverrides=",">-->
            <!--<if test="name != null  and name != ''">name = #{name},</if>-->
            <!--<if test="icon != null  and icon != ''">icon = #{icon},</if>-->
            <!--<if test="sortKey != null ">sort_key = #{sortKey},</if>-->
            <!--<if test="showInMain != null ">show_in_main = #{showInMain},</if>-->
            <!--<if test="categoryId != null  and categoryId != ''">category_id = #{categoryId},</if>-->
            <!--<if test="summary != null  and summary != ''">summary = #{summary},</if>-->
            <!--<if test="available != null ">available = #{available},</if>-->
            <!--<if test="suggest != null ">suggest = #{suggest},</if>-->
            <!--<if test="flag != null ">flag = #{flag},</if>-->
            <!--<if test="createTime != null ">create_time = #{createTime},</if>-->
            <!--<if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>-->
            <!--<if test="updateTime != null ">update_time = #{updateTime},</if>-->
            <!--<if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>-->
        <!--</trim>-->
        <!--where id = #{id}-->
    <!--</update>-->

    <!--<delete id="deleteTTopicById" parameterType="String">-->
        <!--delete from t_topic where id = #{id}-->
    <!--</delete>-->

    <!--<delete id="deleteTTopicByIds" parameterType="String">-->
        <!--delete from t_topic where id in-->
        <!--<foreach item="id" collection="array" open="(" separator="," close=")">-->
            <!--#{id}-->
        <!--</foreach>-->
    <!--</delete>-->

</mapper>