<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TShopMapper">

    <resultMap type="TShop" id="TShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="subject"    column="subject"    />
        <result property="summary"    column="summary"    />
        <result property="regionName"    column="region_name"    />
        <result property="coverImg"    column="cover_img"    />
        <result property="suggest"    column="suggest"    />
        <result property="sortKey"    column="sort_key"    />
        <result property="sortWeight"    column="sort_weight"    />
        <result property="address"    column="address"    />
        <result property="shopHoursBegin"    column="shop_hours_begin"    />
        <result property="shopHoursEnd"    column="shop_hours_end"    />
        <result property="level"    column="level"    />
        <result property="stars"    column="stars"    />
        <result property="htmlContent"    column="html_content"  typeHandler="co.tton.qcloud.common.utils.BlobTypeConvertHandler"   />
        <result property="telephone"    column="telephone"    />
        <result property="mobile"    column="mobile"    />
        <result property="contractName"    column="contract_name"    />
        <result property="wechatNo"    column="wechat_no"    />
        <result property="wechatPlatform"    column="wechat_platform"    />
        <result property="wechatNoImg"    column="wechat_no_img"    />
        <result property="wechatPlatformImg"    column="wechat_platform_img"    />
        <result property="wechatShow"    column="wechat_show"    />
        <result property="available"    column="available"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="categoryId"    column="category_id"    />
        <result property="regionId"    column="region_id"    />
    </resultMap>
    <resultMap id="TShopAll" type="co.tton.qcloud.system.domain.TShop" extends="TShopResult">
        <collection property="tCategoryList" ofType="co.tton.qcloud.system.domain.TCategory">
            <id property="id"    column="a_id"    />
        </collection>
    </resultMap>

    <sql id="selectTShopVo">
        select category_id,id, name, subject, summary, region_name, cover_img, suggest, sort_key, sort_weight, address, shop_hours_begin, shop_hours_end, level, stars, html_content, telephone, mobile, contract_name, wechat_no, wechat_platform, wechat_no_img, wechat_platform_img, wechat_show, available, flag, create_time, create_by, update_time, update_by from t_shop
    </sql>

    <select id="selectTShopList" parameterType="TShop" resultMap="TShopResult">
        <include refid="selectTShopVo"/>
        <where>
            <if test="categoryId != null">and category_id = #{categoryId}</if>
            <if test="regionId != null and regionId != ''">and region_id = #{regionId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="regionName != null  and regionName != ''"> and region_name like concat('%', #{regionName}, '%')</if>
            <if test="coverImg != null  and coverImg != ''"> and cover_img = #{coverImg}</if>
            <if test="suggest != null "> and suggest = #{suggest}</if>
            <if test="sortKey != null "> and sort_key = #{sortKey}</if>
            <if test="sortWeight != null "> and sort_weight = #{sortWeight}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="shopHoursBegin != null "> and shop_hours_begin = #{shopHoursBegin}</if>
            <if test="shopHoursEnd != null "> and shop_hours_end = #{shopHoursEnd}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="stars != null "> and stars = #{stars}</if>
            <if test="htmlContent != null "> and html_content = #{htmlContent}</if>
            <if test="telephone != null  and telephone != ''"> and telephone = #{telephone}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="contractName != null  and contractName != ''"> and contract_name like concat('%', #{contractName}, '%')</if>
            <if test="wechatNo != null  and wechatNo != ''"> and wechat_no = #{wechatNo}</if>
            <if test="wechatPlatform != null  and wechatPlatform != ''"> and wechat_platform = #{wechatPlatform}</if>
            <if test="wechatNoImg != null  and wechatNoImg != ''"> and wechat_no_img = #{wechatNoImg}</if>
            <if test="wechatPlatformImg != null  and wechatPlatformImg != ''"> and wechat_platform_img = #{wechatPlatformImg}</if>
            <if test="wechatShow != null "> and wechat_show = #{wechatShow}</if>
            <if test="available != null "> and available = #{available}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectTShopById" parameterType="String" resultMap="TShopResult">
        <include refid="selectTShopVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTShop" parameterType="TShop">
        insert into t_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null "> category_id,</if>
            <if test="id != null  and id != ''">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="subject != null  and subject != ''">subject,</if>
            <if test="summary != null ">summary,</if>
            <if test="regionName != null  and regionName != ''">region_name,</if>
            <if test="coverImg != null  and coverImg != ''">cover_img,</if>
            <if test="suggest != null ">suggest,</if>
            <if test="sortKey != null ">sort_key,</if>
            <if test="sortWeight != null ">sort_weight,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="shopHoursBegin != null ">shop_hours_begin,</if>
            <if test="shopHoursEnd != null ">shop_hours_end,</if>
            <if test="level != null ">level,</if>
            <if test="stars != null ">stars,</if>
            <if test="htmlContent != null ">html_content,</if>
            <if test="telephone != null  and telephone != ''">telephone,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="contractName != null  and contractName != ''">contract_name,</if>
            <if test="wechatNo != null  and wechatNo != ''">wechat_no,</if>
            <if test="wechatPlatform != null  and wechatPlatform != ''">wechat_platform,</if>
            <if test="wechatNoImg != null  and wechatNoImg != ''">wechat_no_img,</if>
            <if test="wechatPlatformImg != null  and wechatPlatformImg != ''">wechat_platform_img,</if>
            <if test="wechatShow != null ">wechat_show,</if>
            <if test="available != null ">available,</if>
            <if test="regionId != null  and regionId != ''">region_id,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="id != null  and id != ''">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="subject != null  and subject != ''">#{subject},</if>
            <if test="summary != null ">#{summary},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="coverImg != null  and coverImg != ''">#{coverImg},</if>
            <if test="suggest != null ">#{suggest},</if>
            <if test="sortKey != null ">#{sortKey},</if>
            <if test="sortWeight != null ">#{sortWeight},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="shopHoursBegin != null ">#{shopHoursBegin},</if>
            <if test="shopHoursEnd != null ">#{shopHoursEnd},</if>
            <if test="level != null ">#{level},</if>
            <if test="stars != null ">#{stars},</if>
            <if test="htmlContent != null ">#{htmlContent},</if>
            <if test="telephone != null  and telephone != ''">#{telephone},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="contractName != null  and contractName != ''">#{contractName},</if>
            <if test="wechatNo != null  and wechatNo != ''">#{wechatNo},</if>
            <if test="wechatPlatform != null  and wechatPlatform != ''">#{wechatPlatform},</if>
            <if test="wechatNoImg != null  and wechatNoImg != ''">#{wechatNoImg},</if>
            <if test="wechatPlatformImg != null  and wechatPlatformImg != ''">#{wechatPlatformImg},</if>
            <if test="wechatShow != null ">#{wechatShow},</if>
            <if test="available != null ">#{available},</if>
            <if test="regionId != null and regionId != ''">#{regionId},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTShop" parameterType="TShop">
        update t_shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="subject != null  and subject != ''">subject = #{subject},</if>
            <if test="summary != null ">summary = #{summary},</if>
            <if test="regionName != null  and regionName != ''">region_name = #{regionName},</if>
            <if test="coverImg != null  and coverImg != ''">cover_img = #{coverImg},</if>
            <if test="suggest != null ">suggest = #{suggest},</if>
            <if test="sortKey != null ">sort_key = #{sortKey},</if>
            <if test="sortWeight != null ">sort_weight = #{sortWeight},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="shopHoursBegin != null ">shop_hours_begin = #{shopHoursBegin},</if>
            <if test="shopHoursEnd != null ">shop_hours_end = #{shopHoursEnd},</if>
            <if test="level != null ">level = #{level},</if>
            <if test="stars != null ">stars = #{stars},</if>
            <if test="htmlContent != null ">html_content = #{htmlContent},</if>
            <if test="telephone != null  and telephone != ''">telephone = #{telephone},</if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
            <if test="contractName != null  and contractName != ''">contract_name = #{contractName},</if>
            <if test="wechatNo != null  and wechatNo != ''">wechat_no = #{wechatNo},</if>
            <if test="wechatPlatform != null  and wechatPlatform != ''">wechat_platform = #{wechatPlatform},</if>
            <if test="wechatNoImg != null  and wechatNoImg != ''">wechat_no_img = #{wechatNoImg},</if>
            <if test="wechatPlatformImg != null  and wechatPlatformImg != ''">wechat_platform_img = #{wechatPlatformImg},</if>
            <if test="wechatShow != null ">wechat_show = #{wechatShow},</if>
            <if test="available != null ">available = #{available},</if>
            <if test="regionId != null and regionId != ''">region_id = #{regionId},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTShopById" parameterType="String">
        delete from t_shop where id = #{id}
    </delete>

    <!--逻辑删除-->
    <delete id="deleteTShopByIds" parameterType="String">
        update t_shop
          <trim prefix="SET" suffixOverrides=",">
          flag = 1
          </trim>
        where id in
          <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
          </foreach>
    </delete>

    <!--首页推荐商家查询，查询所有商家-->
    <select id="getSuggestShop" resultMap="TShopAll" parameterType="TShop">
        select sh.*,ca.id as a_id
        from t_shop sh
        left join t_category ca on sh.category_id = ca.id
        <where>
            sh.flag = 0
            <if test="categoryId != null and address != ''">and sh.category_id = #{categoryId}</if>
            <if test="suggest != null ">and sh.suggest = #{suggest}</if>
            <if test="address != null and address != ''">and sh.address like concat('%', #{address}, '%')</if>
        </where>
        order by sh.sort_key
    </select>

    <!--查询商家详情-->
    <select id="getShopDetail" parameterType="TShop" resultMap="TShopResult">
        select
        shop.*,
        count(de.order_no) as shopCount,
        ca.name as shopCategoryName
        from
        t_shop shop
        left join t_order de on shop.id = de.shop_id
        left join t_category ca on shop.category_id = ca.parent_id
        <where>
            shop.flag = 0
            <if test="id != null  and id != ''">and shop.id = #{id}</if>
            <if test="address != null and address != ''">and shop.address like concat('%', #{address}, '%')</if>
        </where>
        group by
        ca. name
        order by shop.sort_key
    </select>

    <select id="getNameShop" parameterType="String" resultMap="TShopResult">
        <include refid="selectTShopVo"/>
        <where>
            flag = 0
            <if test="_parameter != null  and _parameter  != ''">and name like concat('%', #{name}, '%')</if>
        </where>
        order by sort_key
    </select>


    <!--<resultMap type="co.tton.qcloud.system.model.ShopCenterModel" id="WPShopCenterMap">-->
        <!--<id column="shopId" property="shopId" />-->
        <!--<result column="coverImg" property="coverImg" />-->
        <!--<result column="shopName" property="shopName" />-->
        <!--<collection property="mobile" ofType="co.tton.qcloud.system.model.ShopOrderModel" javaType="java.util.List">-->
            <!--<id column="orderId" property="orderId" />-->
            <!--<result column="orderNo" property="orderNo" />-->
            <!--<result column="mobile" property="mobile" />-->
            <!--<result column="subject" property="subject" />-->
            <!--<result column="coursesTitle" property="coursesTitle" />-->
            <!--<result column="lessionTime" property="lessionTime" />-->
            <!--<result column="ampm" property="ampm" />-->
            <!--<result column="payStatus" property="payStatus" />-->
            <!--<result column="useStatus" property="useStatus" />-->
            <!--<result column="preRealPrice" property="preRealPrice" />-->
            <!--<result column="payPrice" property="payPrice" />-->
            <!--<result column="verifyStatus" property="verifyStatus" />-->
            <!--<result column="billStatus" property="billStatus" />-->
        <!--</collection>-->
    <!--</resultMap>-->

    <!--&lt;!&ndash; 微信公众号查询商户信息 &ndash;&gt;-->
    <!--<select id="selectWPShopCenterById" resultMap="WPShopCenterMap">-->
        <!--select-->
        <!--ts.id as shopId,-->
        <!--ts.cover_img as coverImg,-->
        <!--ts.`name` as shopName,-->
        <!--tor.id as orderId,-->
        <!--tor.order_no as orderNo,-->
        <!--tor.mobile as mobile,-->
        <!--tor.`subject` as `subject`,-->
        <!--tod.courses_time as coursesTitle,-->
        <!--tod.lession_time as lessionTime,-->
        <!--tod.am_pm as ampm,-->
        <!--tor.pay_status as payStatus,-->
        <!--tor.use_status as useStatus,-->
        <!--tor.pre_real_price as preRealPrice,-->
        <!--tor.pay_price as payPrice,-->
        <!--tor.verify_status as verifyStatus,-->
        <!--tor.bill_status as billStatus-->
        <!--from-->
        <!--t_shop ts-->
        <!--LEFT JOIN t_order tor on tor.shop_id = ts.id -->
        <!--LEFT JOIN t_order_detail tod on tod.order_id = tor.id-->
        <!--where -->
        <!--ts.id = #{id}-->
    <!--</select>-->

    <!--查询商家详情-->
    <select id="selectWPShopCenterById" resultType="co.tton.qcloud.system.model.ShopCenterModel">
        select
        id as shopId,
        cover_img as coverImg,
        `name` as shopName
        from
        t_shop
        <where>
            flag = 0
            and id = #{id}
        </where>
    </select>
</mapper>