<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TShopCoursesTimeMapper">
    
    <resultMap type="TShopCoursesTime" id="TShopCoursesTimeResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="wkNo"    column="wk_no"    />
        <result property="amFm"    column="am_fm"    />
        <result property="bTime"    column="b_time"    />
        <result property="eTime"    column="e_time"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTShopCoursesTimeVo">
        select id, shop_id, courses_id, wk_no, am_fm, b_time, e_time, flag, create_time, create_by, update_time, update_by from t_shop_courses_time
    </sql>

    <select id="selectTShopCoursesTimeList" parameterType="TShopCoursesTime" resultMap="TShopCoursesTimeResult">
        <include refid="selectTShopCoursesTimeVo"/>
        <where>  
            <if test="shopId != null  and shopId != ''"> and shop_id = #{shopId}</if>
            <if test="coursesId != null  and coursesId != ''"> and courses_id = #{coursesId}</if>
            <if test="wkNo != null "> and wk_no = #{wkNo}</if>
            <if test="amFm != null "> and am_fm = #{amFm}</if>
            <if test="bTime != null  and bTime != ''"> and b_time = #{bTime}</if>
            <if test="eTime != null  and eTime != ''"> and e_time = #{eTime}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
        </where>
    </select>
    
    <select id="selectTShopCoursesTimeById" parameterType="String" resultMap="TShopCoursesTimeResult">
        <include refid="selectTShopCoursesTimeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTShopCoursesTime" parameterType="TShopCoursesTime">
        insert into t_shop_courses_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="shopId != null  and shopId != ''">shop_id,</if>
            <if test="coursesId != null  and coursesId != ''">courses_id,</if>
            <if test="wkNo != null ">wk_no,</if>
            <if test="amFm != null ">am_fm,</if>
            <if test="bTime != null  and bTime != ''">b_time,</if>
            <if test="eTime != null  and eTime != ''">e_time,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="shopId != null  and shopId != ''">#{shopId},</if>
            <if test="coursesId != null  and coursesId != ''">#{coursesId},</if>
            <if test="wkNo != null ">#{wkNo},</if>
            <if test="amFm != null ">#{amFm},</if>
            <if test="bTime != null  and bTime != ''">#{bTime},</if>
            <if test="eTime != null  and eTime != ''">#{eTime},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTShopCoursesTime" parameterType="TShopCoursesTime">
        update t_shop_courses_time
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  and shopId != ''">shop_id = #{shopId},</if>
            <if test="coursesId != null  and coursesId != ''">courses_id = #{coursesId},</if>
            <if test="wkNo != null ">wk_no = #{wkNo},</if>
            <if test="amFm != null ">am_fm = #{amFm},</if>
            <if test="bTime != null  and bTime != ''">b_time = #{bTime},</if>
            <if test="eTime != null  and eTime != ''">e_time = #{eTime},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTShopCoursesTimeById" parameterType="String">
        delete from t_shop_courses_time where id = #{id}
    </delete>

    <delete id="deleteTShopCoursesTimeByIds" parameterType="String">
        update t_shop_courses_time
        <trim prefix="SET" suffixOverrides=",">
            flag = 2s
        </trim>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>