<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.tton.qcloud.system.mapper.TShopCoursesMapper">
    
    <resultMap type="TShopCourses" id="TShopCoursesResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="title"    column="title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="contentHtml"    column="content_html" typeHandler="co.tton.qcloud.common.utils.BlobTypeConvertHandler"    />
        <result property="suggest"    column="suggest"    />
        <result property="salesCount"    column="sales_count"    />
        <result property="available"    column="available"    />
        <result property="sortKey"    column="sort_key"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sku"    column="sku"    />
        <result property="useDiscount"    column="use_discount"    />
        <result property="categoryId"  column="category_id" />
    </resultMap>

    <resultMap type="TShopCoursesModel" id="TShopCoursesModelResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="title"    column="title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="contentHtml"    column="content_html"    />
        <result property="suggest"    column="suggest"    />
        <result property="salesCount"    column="sales_count"    />
        <result property="available"    column="available"    />
        <result property="sortKey"    column="sort_key"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sku"    column="sku"    />
        <result property="useDiscount"    column="use_discount"    />
        <result property="coursesId"    column="courses_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="price"    column="price"    />
        <result property="l1Price"    column="l1_price"    />
        <result property="l2Price"    column="l2_price"    />
        <result property="l3Price"    column="l3_price"    />
        <result property="l4Price"    column="l4_price"    />
        <result property="l5Price"    column="l5_price"    />
        <result property="l6Price"    column="l6_price"    />
        <result property="l7Price"    column="l7_price"    />
        <result property="l8Price"    column="l8_price"    />
        <result property="l9Price"    column="l9_price"    />
        <result property="specialPriceLevel"    column="special_price_level"    />
        <result property="perLimitBuy"    column="per_limit_buy"    />
        <result property="name"    column="name"    />
        <result property="categoryId"    column="category_id"    />
        <result property="count"    column="count"    />
        <result property="shopName"    column="shopName"    />
        <result property="address"    column="address"    />
        <result property="summary"    column="summary"    />
        <result property="telephone"    column="telephone"    />
        <result property="mobile"    column="mobile"    />
        <result property="contractName"    column="contractName"    />
        <result property="businessRegion"    column="business_region"    />
        <result property="locationRegion"    column="location_region"    />
        <result property="coverImage" column="cover_img"   />
    </resultMap>

    <sql id="selectTShopCoursesVo">
        select id, shop_id, title, sub_title, content_html, suggest, sales_count, available, sort_key, flag, create_time, create_by, update_time, update_by, sku, use_discount,category_id from t_shop_courses
    </sql>

    <select id="selectTShopCoursesList" parameterType="TShopCourses" resultMap="TShopCoursesResult">
        SELECT
            tsc.*,
            ts.`name` AS shopName
        FROM
            t_shop_courses tsc
        LEFT JOIN t_shop ts ON tsc.shop_id = ts.id
        <where>
            <if test="shopId != null  and shopId != ''"> and tsc.shop_id = #{shopId}</if>
            <if test="title != null  and title != ''"> and tsc.title = #{title}</if>
            <if test="subTitle != null  and subTitle != ''"> and tsc.sub_title = #{subTitle}</if>
            <if test="contentHtml != null  and contentHtml != ''"> and tsc.content_html = #{contentHtml}</if>
            <if test="suggest != null "> and tsc.suggest = #{suggest}</if>
            <if test="salesCount != null "> and tsc.sales_count = #{salesCount}</if>
            <if test="available != null "> and tsc.available = #{available}</if>
            <if test="sortKey != null "> and tsc.sort_key = #{sortKey}</if>
            <if test="flag != null "> and tsc.flag = #{flag}</if>
            <if test="createBy != null  and createBy != ''"> and tsc.create_by = #{createBy}</if>
            <if test="updateBy != null  and updateBy != ''"> and tsc.update_by = #{updateBy}</if>
            <if test="sku != null  and sku != ''"> and tsc.sku = #{sku}</if>
            <if test="useDiscount != null "> and tsc.use_discount = #{useDiscount}</if>
        </where>
    </select>
    
    <select id="selectTShopCoursesById" parameterType="String" resultMap="TShopCoursesResult">
        <include refid="selectTShopCoursesVo"/>
        where id = #{id}
    </select>

    <select id="selectTShopCoursesByShopId" parameterType="String" resultMap="TShopCoursesResult">
        <include refid="selectTShopCoursesVo"/>
        where shop_id = #{shopId}
    </select>
        
    <insert id="insertTShopCourses" parameterType="TShopCourses">
        insert into t_shop_courses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="shopId != null  and shopId != ''">shop_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="subTitle != null  and subTitle != ''">sub_title,</if>
            <if test="contentHtml != null ">content_html,</if>
            <if test="suggest != null ">suggest,</if>
            <if test="salesCount != null ">sales_count,</if>
            <if test="available != null ">available,</if>
            <if test="sortKey != null ">sort_key,</if>
            <if test="flag != null ">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="sku != null  and sku != ''">sku,</if>
            <if test="useDiscount != null ">use_discount,</if>
            <if test="categoryId != null and categoryId != ''">category_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="shopId != null  and shopId != ''">#{shopId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="subTitle != null  and subTitle != ''">#{subTitle},</if>
            <if test="contentHtml != null ">#{contentHtml},</if>
            <if test="suggest != null ">#{suggest},</if>
            <if test="salesCount != null ">#{salesCount},</if>
            <if test="available != null ">#{available},</if>
            <if test="sortKey != null ">#{sortKey},</if>
            <if test="flag != null ">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="sku != null  and sku != ''">#{sku},</if>
            <if test="useDiscount != null ">#{useDiscount},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
         </trim>
    </insert>

    <update id="updateTShopCourses" parameterType="TShopCourses">
        update t_shop_courses
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null  and shopId != ''">shop_id = #{shopId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="subTitle != null  and subTitle != ''">sub_title = #{subTitle},</if>
            <if test="contentHtml != null ">content_html = #{contentHtml},</if>
            <if test="suggest != null ">suggest = #{suggest},</if>
            <if test="salesCount != null ">sales_count = #{salesCount},</if>
            <if test="available != null ">available = #{available},</if>
            <if test="sortKey != null ">sort_key = #{sortKey},</if>
            <if test="flag != null ">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="sku != null  and sku != ''">sku = #{sku},</if>
            <if test="useDiscount != null ">use_discount = #{useDiscount},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTShopCoursesById" parameterType="String">
        delete from t_shop_courses where id = #{id}
    </delete>

    <delete id="deleteTShopCoursesByIds" parameterType="String">
        update t_shop_courses
        <trim prefix="SET" suffixOverrides=",">
            flag = 1
        </trim>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCoursesDetail" parameterType="String" resultMap="TShopCoursesModelResult">
        SELECT
            tsc.title,
            tscp.price,
            ts.address,
            ts.business_region,
            ts.location_region,
            ts.telephone,
            ts.cover_img,
            ts.mobile,
            ts.`name` AS shopName,
            ts.summary,
            tsc.content_html,
            tsc.id,
            tsc.shop_id,
            tsc.category_id
        FROM
            t_shop_courses tsc
            INNER JOIN t_shop ts ON tsc.shop_id = ts.id
            INNER JOIN t_shop_courses_price tscp ON tsc.id = tscp.courses_id
        WHERE
            tsc.id = #{id}
            AND tsc.flag = 0
    </select>

    <select id="getSuggestCourses"  resultMap="TShopCoursesModelResult" parameterType="TShopCoursesModel">
        SELECT
            tsc.id,
            ts.`name`,
            tscp.price,
            tsc.title,
            tsc.suggest
        FROM
            t_shop_courses tsc
            INNER JOIN t_shop ts ON tsc.shop_id = ts.id
            INNER JOIN t_shop_courses_price tscp ON tsc.id = tscp.courses_id
        <where>
            <if test="shopId != null  and shopId != ''"> and tsc.shop_id = #{shopId}</if>
            <if test="categoryId != null  and categoryId != ''"> and tsc.category_id = #{categoryId}</if>
            <if test="address != null and address != ''">and ts.address like concat('%', #{address}, '%')</if>
            AND tsc.flag = 0 and tsc.suggest = 0
        </where>
    </select>

    <select id="getNameShopCourses" parameterType="String" resultMap="TShopCoursesModelResult">
        SELECT
            tsc.title,
            tscp.price,
            ts.address,
            ts.telephone,
            ts.mobile,
            ts.`name` AS shopName,
            ts.summary,
            tsc.content_html,
            tsc.id,
            tsc.shop_id
        FROM
            t_shop_courses tsc
            INNER JOIN t_shop ts ON tsc.shop_id = ts.id
            INNER JOIN t_shop_courses_price tscp ON tsc.id = tscp.courses_id
        WHERE
            tsc.title like concat('%', #{title}, '%')
            AND tsc.flag = 0
    </select>

    <select id="getShopCategoryCourses"  resultMap="TShopCoursesModelResult" parameterType="TShopCoursesModel">
        SELECT
        tsc.id,
        ts.`name`,
        tscp.price,
        tsc.title,
        tsc.suggest,
        tsc.shop_id,
        tsc.category_id
        FROM
        t_shop_courses tsc
        INNER JOIN t_shop ts ON tsc.shop_id = ts.id
        INNER JOIN t_shop_courses_price tscp ON tsc.id = tscp.courses_id
        <where>
            <if test="shopId != null  and shopId != ''"> and tsc.shop_id = #{shopId}</if>
            <if test="categoryId != null  and categoryId != ''"> and tsc.category_id = #{categoryId}</if>
            AND tsc.flag = 0
        </where>
    </select>

    <select id="getAllCoursesCategory"  resultMap="TShopCoursesModelResult" parameterType="TShopCoursesModel">
        SELECT
        DISTINCT ca.`name`,
        co.shop_id,
        co.category_id,
        ca.id
        FROM
        t_shop_courses co
        LEFT JOIN t_category ca ON co.category_id = ca.parent_id
        <where>
            <if test="shopId != null  and shopId != ''"> and co.shop_id = #{shopId}</if>
            AND co.flag = 0
        </where>
    </select>

    <select id="getMaxSortKeyCourses"  resultMap="TShopCoursesModelResult" parameterType="TShopCoursesModel">
        select
            tsc.id,
            ts.`name`,
            tscp.price,
            tsc.title,
            tsc.suggest,
            tsc.shop_id,
            tsc.category_id,
            tsc.sort_key
        from
            t_shop_courses tsc
        inner join t_shop ts on tsc.shop_id = ts.id
        inner join t_shop_courses_price tscp on tsc.id = tscp.courses_id
        where
            tsc.flag = 0 and tsc.suggest = 0
        order by tsc.sort_key
        limit 1
    </select>
</mapper>