<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增课程基本信息')" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增课程基本信息</h5>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal m" id="form-courses-add">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">课程标题</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="title" placeholder="请输入课程标题" class="form-control">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">库存数量</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="salesCount" placeholder="请输入库存数量" class="form-control">
                                        <span class="help-block m-b-none">库存数量为-1的情况下，则不限制销售数量。</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">课程排序</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sortKey" placeholder="请输入课程排序" class="form-control">
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否推荐：</label>
                                    <div class="col-sm-10">
                                        <!--                    <input name="suggest" th:field="*{suggest}" class="form-control" type="text">-->
                                        <div class="radio">
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" value="1" name="suggest"> <i></i> 是</label>
                                            </div>
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" checked="" value="0" name="suggest"> <i></i> 否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否可用：</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" value="1" name="avaiable"> <i></i> 是</label>
                                            </div>
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" checked="" value="0" name="avaiable"> <i></i> 否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">是否允许使用优惠券：</label>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" value="0" name="useDiscount"> <i></i> 是</label>
                                            </div>
                                            <div class="radio check-box">
                                                <label>
                                                    <input type="radio" checked="" value="1" name="useDiscount"> <i></i> 否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>-->
                                <!--<div class="form-group">-->
                                    <!--<div class="col-sm-12">-->
                                        <!--<h4 class="form-header h4">课程图片</h4>-->
                                        <!--<div class="file-loading">-->
                                            <!--<input id="courses-img" class="file" type="file" multiple data-theme="fas">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="hr-line-dashed"></div>-->
                                <div class="form-group">
                                    <h4 class="form-header h4">课程详情</h4>
                                    <div id="summernote" class="summernote">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <div class="row text-center" style="padding:15px;">
            <button class="btn btn-primary btn-xl" onclick="addCourses()"><i class="fa fa-save"></i> 保存</button>
            <button class="btn btn-danger btn-xl" onclick="closeItem()"><i class="fa fa-close"></i> 取消</button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        var prefix = "/shop/courses"
        $("#form-courses-add").validate({
            focusCleanup: true
        });

        //富文本输入框
        $(document).ready(function () {
            $('.summernote').summernote({
                lang: 'zh-CN',
                placeholder: '请输入课程详细信息。',
                height: 300
            });
        });

        function addCourses() {
            if ($.validate.form()) {
                //$.operate.saveAndUpload(prefix + "/add", $('#form-courses-add'));
                var note = $('.summernote').summernote('code');
                // var data = $('#form-courses-add').serialize();
                // var formData = new FormData();
                // // formData.append("params[file]", file);
                // data.split('&').forEach(function(item){
                //     var is = item.split('=');
                //     var name = decodeURIComponent(is[0]);
                //     var val = decodeURIComponent(is[1]);
                //     console.log("name["+name+"]-->value["+val+"]");
                //     formData.append(name,val);
                // });
                // data += "&contentHtml=" + note;
                // formData.append("contentHtml",note);
                // console.log(data);
                //formData.append("content_html",decodeURI(note));
                //$.operate.save(prefix+"/add",formData);
                $.operate.saveHtml(prefix+"/add",$('#form-courses-add'),"contentHtml",note);
            }
        }



    </script>
</body>
</html>