<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课程基本信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input id="shopId" name="shopId" th:value="${shopId}" type="hidden">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>商家Id：</p>
                                <input type="text" name="shopId"/>
                            </li>
                            <li>
                                <p>课程标题：</p>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <p>副标题：</p>
                                <input type="text" name="subTitle"/>
                            </li>
                            <li>
                                <p>是否可用：</p>
                                <input type="text" name="suggest"/>
                            </li>
                            <li>
                                <p>库存数量：</p>
                                <input type="text" name="salesCount"/>
                            </li>
<!--                            <li>-->
<!--                                <p>是否可用：</p>-->
<!--                                <input type="text" name="avaiable"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>排序：</p>-->
<!--                                <input type="text" name="sortKey"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>状态：</p>-->
<!--                                <input type="text" name="flag"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>创建人：</p>-->
<!--                                <input type="text" name="createBy"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>修改人：</p>-->
<!--                                <input type="text" name="updateBy"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>SKU保留字段：</p>-->
<!--                                <input type="text" name="sku"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p>是否允许使用优惠券：</p>-->
<!--                                <input type="text" name="useDiscount"/>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="shop:courses:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="shop:courses:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="shop:courses:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="courses:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('shop:courses:edit')}]];
        var removeFlag = [[${@permission.hasPermi('shop:courses:remove')}]];
        var timeFlag = [[${@permission.hasPermi('shop:time:edit')}]];
        var priceFlag = [[${@permission.hasPermi('shop:courses:remove')}]];
        var imageFlag = [[${@permission.hasPermi('shop:courses:remove')}]];
        var prefix = "/shop/courses";
        var shopId = $('#shopId').val();
        var listUrl = prefix + "/list";
        if($.common.isNotEmpty(shopId)){
            listUrl = listUrl + "?shop-id=" + shopId;
        }


        $(function() {
            var options = {
                url: listUrl,
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "课程基本信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '是否允许使用优惠券',
                    visible: false
                },
                {
                    field : 'shopId', 
                    title : '商家Id'
                },
                {
                    field : 'title', 
                    title : '课程标题'
                },
                {
                    field : 'subTitle', 
                    title : '副标题'
                },
                {
                    field : 'contentHtml', 
                    title : '内容HTML'
                },
                {
                    field : 'suggest', 
                    title : '是否推荐'
                },
                {
                    field : 'salesCount', 
                    title : '库存数量'
                },
                {
                    field : 'avaiable', 
                    title : '是否可用'
                },
                {
                    field : 'sortKey', 
                    title : '排序'
                },
                {
                    field : 'flag', 
                    title : '排序'
                },
                {
                    field : 'createBy',
                    title : '创建人'
                },
                {
                    field : 'updateBy',
                    title : '修改人'
                },
                // {
                //     field : 'sku',
                //     title : 'SKU保留字段'
                // },
                // {
                //     field : 'useDiscount',
                //     title : '是否允许使用优惠券'
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + timeFlag + '" href="javascript:void(0)" onclick="$.operate.timeViewUrl(\'/shop/time\',\'课程时间\',\'' + row.id + '\')"><i class="fa fa-remove"></i>时间</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + priceFlag + '" href="javascript:void(0)" onclick="$.operate.priceViewUrl(\'/shop/price\',\'课程价格\',\'' + row.id + '\')"><i class="fa fa-remove"></i>价格</a>');
                        actions.push('<a class="btn btn-warning btn-xs ' + imageFlag + '" href="javascript:void(0)" onclick="$.operate.imageViewUrl(\'/shop/images\',\'课程图片\',\'' + row.id + '\')"><i class="fa fa-remove"></i>图片</a>');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>